[2016-10-12 15:26] tonysecurityforcemonitor opened #1 "Search Needs to go to dossier"
Search returns user to Map page, rather than taking them to a dossier or map with mini-dossier as expected

Example:
- From home page, choose Nigeria.
- Select “ Search"
- Select “Persons"
- Search "Dahiru Bako”
- Four results are returned, choose any of them
- The overlay is removed and the user is returned to the map screen.
- Expected behavior is that it would take the user to the Person dossie

[2016-10-12 15:27] tonysecurityforcemonitor opened #2 "Map - Zoom needs to be clear"
Having "+" and "-" buttons would be helpful

[2016-10-12 15:37] tonysecurityforcemonitor opened #3 "Map - Filtering Doesn't seem to work"
When a user uses the "Legend" to filter the map to only display events, jurisdictions, or installations they can still bring up the information for any of the layers when they hover over it - even though it is not displayed.

Screenshot example of map where only Jurisdictions is selected - hovering over an area suddenly brings up an event.

![image](https://cloud.githubusercontent.com/assets/18744

[2016-10-12 15:39] tonysecurityforcemonitor opened #4 "Map - Rename Legend Options"
Rename Jurisdictions as Area of Operations

[2016-10-12 15:41] tonysecurityforcemonitor opened #5 "Map - Fix Date display"
We should make it easier for the user to see what date they have selected -- right now the date box does not seem prominent enough and the full numbered date does not even fit into the box (example screenshot below)

![image](https://cloud.githubusercontent.com/assets/18744855/19316775/bfa4eb44-9070-11e6-838a-aa598702a0a9.png)

[2016-10-12 15:47] tonysecurityforcemonitor opened #6 "Map - selection different areas of operation doesn't work"
When scrolling over large areas of operation its not possible to select the smaller areas contained within the larger area -- for example its not possible to select the smaller areas within the Special Task Force's Area of Operations.

As areas of operations will overlap frequently it should be possible for a user to hover over an area and be able to select one of the several units that operate th

[2016-10-12 15:50] tonysecurityforcemonitor opened #7 "Map - List Area of Operations Names"
Since we are using a stylized map base - it would be helpful to list the Area of Operations for an Organization in the pop-up on the maps. We could have that instead of the Aliases so as an example:

![image](https://cloud.githubusercontent.com/assets/18744855/19317089/d8592bd6-9071-11e6-83cf-f26c921b483e.png)

These would all be the Geoname for the organization's area operations (Area:geonames_na

[2016-10-12 15:52] tonysecurityforcemonitor opened #8 "Map - Country summary"
I'm not sure where the country summary "lives" and how it will be updated --- I know this requires me to finalize a country summary for the countries of the SFM(!)

I can email text for each country that we will then address in future versions of the Monitor as far as updating it.

[2016-10-12 16:14] tonysecurityforcemonitor opened #9 "Mini Dossier/Full Dossier - No click through to Commander"
From an Organization's mini-dossier on the Map page, or their full dossier I would expect to be able to click on a Commander's name and be taken to their dossier - this functionality doesn't exist

[2016-10-12 16:31] tonysecurityforcemonitor opened #10 "Chart - Shuffling around selected organization/person"
When an Organization is selected in the Chart - it's Parent/superior Organization is often several screens to the right or left - making it impossible for the user to be able to read the chart

This seems to be a result of the Chart being a static image -- a solution could be that the Chart "shuffles" or otherwise rearranges itself around the Organization selected - so that the parent/superior org

[2016-10-12 16:32] tonysecurityforcemonitor opened #11 "Chart - Needs Timeline"
Currently the Chart does not have a timeline functionality

[2016-10-12 16:33] tonysecurityforcemonitor opened #12 "Chart - Zooming"
Zoom does not seem to work with mouse button - and there is no "+" or "-" buttons either

[2016-10-12 17:34] tonysecurityforcemonitor opened #13 "Map - Mini Dossier - Sources Need Numbering"
In the Mini Dossier on the side of the Map function the various citations are numbered but when the user scroll to the bottom to Sources they are listed but not numbered

(example screenshot at top of mini dossier)

![image](https://cloud.githubusercontent.com/assets/18744855/19320721/7267f8e8-9080-11e6-9d0a-6b996990981a.png)

(example screenshot at bottom of same mini dossier)

![image](https://c

[2016-10-17 16:04] tonysecurityforcemonitor opened #14 "Change display for Confidence Scores"
The current Red, Yellow and Green Diamonds to indicate confidence score aren't working as well as I hoped. We should change them to text displays, similar to how they were envisioned in older versions of the mockups:

![image](https://cloud.githubusercontent.com/assets/18744855/19445325/cca5d5e8-9461-11e6-8fbd-37cbe7ef52a6.png)

[2016-12-06 21:51] sam-ffctn commented on #14
We reverted it back to text, but preserved the colors.
ex:
http://ffctn.com/clients/on/sfm/M13/#country/ng/o/147eb0bc-3516-4d3f-a5cb-fd9a396ed8ec!date=2014-01-01&focus=map&overlay=organization-dossier

[2016-12-06 21:52] sam-ffctn commented on #13
They are now numbered and clickable (when a url is present)
ex:
http://ffctn.com/clients/on/sfm/M13/#country/ng/o/147eb0bc-3516-4d3f-a5cb-fd9a396ed8ec!date=2014-01-01&focus=map&overlay=organization-dossier

[2016-12-06 21:54] sam-ffctn commented on #12
Zoom now works with double click, scroll wheel, and by clicking on the "+" and "-" buttons.
http://ffctn.com/clients/on/sfm/M13/#country/ng/o/147eb0bc-3516-4d3f-a5cb-fd9a396ed8ec!date=2014-01-01&focus=map&overlay=

[2016-12-06 21:55] sam-ffctn commented on #11
We added the timeline to the chart, in the same way that it is on the map.
http://ffctn.com/clients/on/sfm/M13/#country/ng/o/147eb0bc-3516-4d3f-a5cb-fd9a396ed8ec!date=2014-01-01&focus=chart&overlay=

[2016-12-06 21:58] sam-ffctn commented on #10
We reduced the size of the nodes (padding and width). This makes the chart a lot more vertical. We may tweak the style further to increase readability.
http://ffctn.com/clients/on/sfm/M13/#country/ng/o/741b1748-f740-4dd5-b6cc-107405bf0e96!date=2014-01-01&focus=chart

[2016-12-06 22:00] sam-ffctn commented on #9
The commanders name is now clickable (both in the mini dossier and full dossier). There seems to be some rendering issues with some of the data (I will look into this tomorrow, it is most likely due to API changes).
http://ffctn.com/clients/on/sfm/M13/#country/ng/o/147eb0bc-3516-4d3f-a5cb-fd9a396ed8ec!date=2014-01-01&focus=map

[2016-12-06 22:03] sam-ffctn commented on #8
Right now it displays the value that is returned from this endpoint: https://sfm.datamade.us/api/countries/ng/
(currently it's always null)

It would also be possible to add it statically (we would just need the copy).

[2016-12-06 22:06] sam-ffctn commented on #7
We are now including the **area_name** and the **site_name** in the tooltip
http://ffctn.com/clients/on/sfm/M13/#country/ng!date=2014-01-01&focus=map

[2016-12-06 22:08] sam-ffctn commented on #6
Right now the API is returning the areas as points (and we render them as such). I'm not sure if this is intentional or not. It does mitigate this issue tho.
http://ffctn.com/clients/on/sfm/M13/#country/ng!date=2014-01-01&focus=map

[2016-12-06 22:09] sam-ffctn commented on #5
For now I just resized the box to fit the date
http://ffctn.com/clients/on/sfm/M13/#country/ng!date=2014-01-01&focus=map

[2016-12-06 22:12] sam-ffctn commented on #4
Updated in the Organization dossier and mini-dossier

http://ffctn.com/clients/on/sfm/M13/#country/ng/o/03e9b83d-ddeb-491d-baaf-c09a49f1f64d!date=2014-01-01&focus=map

[2016-12-06 22:16] sam-ffctn commented on #2
Zoom now works with double click, scroll wheel, and by clicking on the "+" and "-" buttons.
http://ffctn.com/clients/on/sfm/M13/#country/ng/o/147eb0bc-3516-4d3f-a5cb-fd9a396ed8ec!date=2014-01-01&focus=map&overlay=

[2016-12-07 15:52] tonysecurityforcemonitor commented on #14
@sam-ffctn - Great I think these work well

[2016-12-07 15:54] tonysecurityforcemonitor commented on #4
@sam-ffctn Wonderful!

[2016-12-07 15:54] #4 closed

[2016-12-07 16:09] sam-ffctn commented on #1
It will now show the mini-dossier of the selected item.

[2016-12-07 16:10] tonysecurityforcemonitor commented on #2
@sam-ffctn - Thanks this works well.

[2016-12-07 16:10] #2 closed

[2016-12-07 16:14] sam-ffctn commented on #3
Hovering over hidden elements will no longer trigger the tooltip
http://ffctn.com/clients/on/sfm/M13/#country/ng!date=2014-01-01&focus=map
(I just pushed this change so you may need to clear your cache for it to update)

[2016-12-07 16:35] tonysecurityforcemonitor commented on #8
@sam-ffctn Ok - let's add statically unless that creates an issue for @evz

[2016-12-07 16:39] evz commented on #8
That should be fine. This was something that was kinda unclear to me, too. Perhaps this could be something that could be managed through the CMS eventually.

[2016-12-07 16:40] #14 closed

[2016-12-07 16:51] tonysecurityforcemonitor opened #15 "Organization Classification not displaying/loading properly"
@evz @sam-ffctn I'm not sure if this is an API or UI issue...

1. Currently Organizations all seem to have the classification of Unknown. As far as I can see in the CMS every organization has at least one classification - so no organization should be listed with an Unknown classification.
2. The other classifications are merged together, rather than being counted as two (or more) separate classifi

[2016-12-07 17:10] tonysecurityforcemonitor commented on #11
@sam-ffctn It doesn't seem like the timeline is functioning how I'd expect it - it doesn't seem to be reading the data from the organization. As an example I'm able to move the time slider to a random date in 2008, well before the first citation date and the organization is still displayed

![image](https://cloud.githubusercontent.com/assets/18744855/20978190/f64f54b4-bc75-11e6-88d2-dea556f120b1.p

[2016-12-07 17:48] tonysecurityforcemonitor opened #16 "Person Mini Dossier/Full Dossier - need to remove place of birth and death date"
@sam-ffctn - The mini dossier and full dossiers for people have a birth place and death date listed - the Monitor doesn't capture data on either of these things currently so they should be removed from the UI.

[2016-12-07 17:52] tonysecurityforcemonitor opened #17 "Person Dossier - Mini Dossier/Full Dossier - Sources not displaying"
@sam-ffctn - The sources don't seem to be displaying on either the mini or full dossiers for people.

Example screenshot, mini-dossier:

![image](https://cloud.githubusercontent.com/assets/18744855/20979711/e01fd898-bc7b-11e6-9e1a-a401aab63fec.png)

Example screenshot, full dossier:

![image](https://cloud.githubusercontent.com/assets/18744855/20979748/fa751636-bc7b-11e6-9f7b-e2c04a4652f2.png)

[2016-12-08 15:21] tonysecurityforcemonitor commented on #13
Ok great I see that's working now.

[2016-12-08 15:21] #13 closed

[2016-12-08 15:29] tonysecurityforcemonitor commented on #1
Great thanks!

[2016-12-08 15:29] #1 closed

[2016-12-08 15:31] tonysecurityforcemonitor commented on #3
@sam-ffctn I cleared my cache and restarted my comp - but I'm still getting the tooltip popping up.

[2016-12-08 15:36] tonysecurityforcemonitor commented on #6
Hey @evz I think this is an issue for you - seems API is returning areas as points

@sam-ffctn - the areas should be polygons, not points - so we'll need to revisit

[2016-12-09 18:12] evz commented on #6
I'm a little confused by this. Areas are polygons and are returned as polygons in the API responses. So, for instance,

Here is an organization detail:
https://sfm.datamade.us/api/organizations/87ac8025-de2e-4292-971d-535d3d53e93e/

That same organization map view:
https://sfm.datamade.us/api/organizations/87ac8025-de2e-4292-971d-535d3d53e93e/map/?at=2014-01-01

And the chart view:
 https://sfm.da

[2016-12-09 18:21] evz commented on #15
I think this was partially an API issue. There were `null` values being returned in those responses which should be gone now. I'll let @sam-ffctn confirm whether or not that is what was causing this display problem.

[2016-12-12 18:55] tonysecurityforcemonitor opened #18 "Events - not loading sources"
@sam-ffctn - Events do not seem to have their sources displayed anywhere in the mini-dossier - screenshot example:

![image](https://cloud.githubusercontent.com/assets/18744855/21112118/7ee5be8a-c072-11e6-99c7-a7cb2c799b28.png)

[2016-12-12 19:01] tonysecurityforcemonitor opened #19 "Events - Site Name loading from Site ID"
Hey @sam-ffctn @evz - not sure where the issue lies, but the instead of the Event:geonames_name it's loading the Event:geonames_id. The Event:admin_level_1_geonames_name is displaying fine however. (I know we've switched over to OSM, but I wasn't sure how those classes were renamed so I kept them the same as they are in the Classes Sheet).

 Example screenshot below:

![image](https://cloud.github

[2016-12-12 19:02] tonysecurityforcemonitor opened #20 "Events - Event:classification not displaying"
@sam-ffctn

[2016-12-13 19:05] tonysecurityforcemonitor opened #21 "Chart - Doesn't Display Hierarchy"
@sam-ffctn -

Steps:
1) A user selects an Organization from the drop down menu on the Map page
2) From the Organization's mini dossier they select Chart
3) On the Chart page the selected Organization is at the "top" of the hierarchy - with no way to see what the parent organizations are.

Example http://ffctn.com/clients/on/sfm/M13/#country/ng/o/03e9b83d-ddeb-491d-baaf-c09a49f1f64d!date=2014-01-01

[2016-12-16 18:23] #5 closed

[2016-12-16 18:25] tonysecurityforcemonitor commented on #6
@sam-ffctn The API should be working on this issue...

[2016-12-16 18:31] #9 closed

[2016-12-16 18:34] tonysecurityforcemonitor commented on #7
@sam-ffctn This is hard for me to test right now --- once we have the areas of operation displayed on the map and listed out in the dossier it will make is possible to test and comment.

As of right now it seems like most organizations are missing their Area of Operation

[2016-12-16 18:36] tonysecurityforcemonitor commented on #10
@sam-ffctn This is tied to #21 - so its a little hard to test right now

[2016-12-16 18:37] tonysecurityforcemonitor commented on #15
@sam-ffctn How is this issue looking?

[2016-12-22 19:33] sam-ffctn commented on #15
This issue should now be fixed
http://ffctn.com/clients/on/sfm/M14/#country/ng/o/e3d1062a-4346-4d83-a7e3-afa697bc3b5d!date=2014-01-01&focus=map
this was mostly a front-end bug.

[2016-12-22 19:47] sam-ffctn commented on #3
You where right, the bug was only on the events. Should now be fixed:
http://ffctn.com/clients/on/sfm/M14/#country/ng!date=2014-01-01&focus=map

Sorry about that.

[2016-12-22 19:57] sam-ffctn commented on #18
@tonysecurityforcemonitor I don't see any sources in the data. I'm not exactly sure what's supposed to have a source.

I'm making sure that the Alleged perpetrator organization/person is properly getting pulled from the data, but I'm not sure if that's what you where talking about.

[2016-12-22 22:12] sam-ffctn commented on #6
I'm not using the `area_current` and I'm ordering the regions by area (smallest on top).
I think this works quite well.
Let me know if this needs improvement
http://ffctn.com/clients/on/sfm/M14/#country/ng!date=2014-01-01&focus=map

[2016-12-22 22:23] sam-ffctn commented on #7
@tonysecurityforcemonitor We weren't loading the Area of Operations properly in the Organization mini dossier.
It should be fixed now.
http://ffctn.com/clients/on/sfm/M14/#country/ng/o/eba73af9-f22a-425f-832d-c8a36b7e5e50!date=2014-01-01&focus=map

[2016-12-22 22:25] sam-ffctn commented on #16
these fields our now removed
http://ffctn.com/clients/on/sfm/M14/#country/ng/p/705c584e-5316-4cf6-b13b-400453bf53df!date=2014-01-01&focus=map

[2016-12-23 15:23] tonysecurityforcemonitor commented on #16
@sam-ffctn @evz An API error is preventing me from testing this

[2016-12-23 15:26] sam-ffctn commented on #20
Added the Classification field to the event
http://ffctn.com/clients/on/sfm/M14/#country/ng/e/f77be141-772a-4dca-9846-c9f4183a8b07!date=2014-01-01&focus=map

[2016-12-23 15:55] tonysecurityforcemonitor commented on #20
@sam-ffctn The classification isn't displaying in the tooltip on the map - example screenshot:

![image](https://cloud.githubusercontent.com/assets/18744855/21457554/483d79ec-c8fe-11e6-92bb-a1f00f8beec9.png)

[2016-12-23 15:57] sam-ffctn commented on #17
Fixed the sources on person Dossier and mini dossier
http://ffctn.com/clients/on/sfm/M14/index.html#country/ng/p/705c584e-5316-4cf6-b13b-400453bf53df!date=2014-01-01&focus=map&overlay=person-dossier

On another note, I notices that quite a few fields have sources that we aren't displaying (title, rank and role all have a few sources each). Should we display the sources for all fields that have the

[2016-12-23 16:07] tonysecurityforcemonitor commented on #7
@sam-ffctn I think this is fixed - I'll be able to better test once more data is inputted through the importer.

[2016-12-23 16:10] tonysecurityforcemonitor commented on #7
@sam-ffctn Can we only do the area_name in the tooltip? Having the area_name and the site_name makes it a little confusing. It's hard to tell what is what.

[2016-12-23 16:16] tonysecurityforcemonitor commented on #17
@sam-ffctn @evz an API error is preventing me from testing this.

And @sam-ffctn yes we should absolutely display sources for all fields that have them - for People, Organizations and Events

[2016-12-23 16:22] tonysecurityforcemonitor commented on #6
@sam-ffctn This seems to be working well - I think having some more data in the system will make it so can I test and confirm.

[2016-12-23 16:23] #3 closed

[2016-12-23 17:11] sam-ffctn commented on #19
It would be good to know what properties I should be using from the `events/:id` endpoint.
ex: https://sfm.datamade.us/api/events/f77be141-772a-4dca-9846-c9f4183a8b07/

I was using the `admin_level_1` and `admin_level_2` but now I switching to using `location_description`, I'm not exactly sure if this is equivalent to `geonames_name`

url with update: http://ffctn.com/clients/on/sfm/M14/#country/n

[2016-12-23 17:13] sam-ffctn commented on #20
I've added it to the tooltip
http://ffctn.com/clients/on/sfm/M14/#country/ng/e/3ba4c4d9-04c7-4a86-910c-c5a361c4c733!date=2014-01-01&focus=map

[2016-12-23 17:16] sam-ffctn commented on #7
Yup, its updated now to only show area_name
http://ffctn.com/clients/on/sfm/M14/#country/ng!date=2014-01-01&focus=map

[2016-12-23 17:32] tonysecurityforcemonitor commented on #19
@evz @sam-ffctn - this seems like this might be an API issue... I don't think that the admin_level_1 should be returning a number string

[2016-12-23 17:36] tonysecurityforcemonitor commented on #20
Perfect - thanks

[2016-12-23 17:36] #20 closed

[2016-12-23 18:18] #15 closed

[2016-12-23 18:21] tonysecurityforcemonitor opened #22 "Map - Can't use Organization's Classification to filter"
The Filter functionality doesn't load any classifications from the Organizations. I would expect to be able to use the Filter function to select only to display Organizations with the classification of Police or Army or Military.

[2016-12-23 19:31] sam-ffctn commented on #22
What filter function are we talking about? The filter functionality built into the legend?

[2016-12-23 19:39] sam-ffctn commented on #11
I'm not exactly sure what the intended behavior is for the timeline. When the timeline is set, we send a new call to the API with the selected date.
ex: https://sfm.datamade.us/api/organizations/1beedf1b-6c56-48d3-b086-6d33778a8691/chart/?at=2008-05-08

We simply render what that request returns.
Right now I think the API will always return the same data no matter what date is set.

So I think thi

[2016-12-23 20:45] tonysecurityforcemonitor commented on #11
@evz can you take a look?

[2016-12-23 20:49] tonysecurityforcemonitor commented on #22
@sam-ffctn I'm referring to the Filter button which is right below the Organizations label and above the list of organizations - example screen shot:

![image](https://cloud.githubusercontent.com/assets/18744855/21462211/4ecd880a-c927-11e6-952b-88ccb3c35753.png)

[2016-12-28 19:40] evz commented on #16
@sam-ffctn Could you explain a bit how that error is being returned? It looks like just visiting the URL from the error message returns the response you'd expect. One thing I notice is that the URL in the error message is missing the trailing slash after the person ID so it's

https://sfm.datamade.us/api/people/705c584e-5316-4cf6-b13b-400453bf53df

instead of:

https://sfm.datamade.us/api/people/7

[2016-12-28 19:42] evz commented on #17
This seems to be related to what I mentioned over here: https://github.com/security-force-monitor/sfm-ui/issues/16#issuecomment-269529086

[2016-12-28 20:40] evz commented on #11
Hmm, yes, this would be because that API endpoint isn't actually using the `at` parameter for anything. Woops. In this case, what is the correct date to use? We have several.

[2016-12-28 22:30] evz commented on #19
I worked on this a bit and found that I was just getting the info for the admin level 1 field from the wrong column in the spreadsheet. The upshot is that I had to re-import all the events which made new IDs for them so the links above are now broken (because an event with that ID doesn't exist anymore)

[2016-12-29 15:33] tonysecurityforcemonitor commented on #16
@sam-ffctn @evz This seems to have been resolved

[2016-12-29 15:35] tonysecurityforcemonitor commented on #17
@sam-ffctn @evz This also appears to be resolved - sources displaying for multiple fields

[2016-12-29 15:35] #17 closed

[2016-12-29 15:39] sam-ffctn commented on #19
I switched back to using `admin_level_1` and `admin_level_2`. Seems to be working fine. Although a lot of the events have `null` for `admin_level_1`

http://ffctn.com/clients/on/sfm/M15/#country/ng/e/92593738-81f2-495d-9726-3aa6b83850ff!date=2014-01-01&focus=map

[2016-12-29 15:58] tonysecurityforcemonitor commented on #11
@evz I envisioned the timeline working on both the Map and the Chart in the same way - the user would select a date and the Map and Chart would display what data the Monitor has for that date. By sliding the timeline the user could see the Map and Chart change as AOOs and Parent relationships change. If the user selected a time before or after the Monitor had data then the Chart or Map would be bl

[2016-12-29 16:28] sam-ffctn commented on #22
@evz @tonysecurityforcemonitor to do this I would need the api endpiont https://sfm.datamade.us/api/countries/ng/map/?at=2014-01-01 to return the classifications for the organizations. Would it be possible to add this property? I've addressed this issue already in a previous email:

This endpoint is used to fill the organization list which shows the classification so it would be really useful to i

[2016-12-29 16:44] evz commented on #22
I added the classifications to the `/organizations/:id/map/` response yesterday. I'll take a look at the `/countries/:id/map/` endpoint to see if it'll be difficult to incorporate there as well (I imagine it won't be).

[2016-12-29 16:59] evz commented on #22
OK, the `/countries/:id/map/` response should include a list of classifications within the `properties` object within each organization now.

[2016-12-29 17:00] sam-ffctn commented on #22
@evz sorry about that I meant to say `/countries/:id/map/` originally. Thanks for the quick fix :)

[2016-12-29 18:27] sam-ffctn commented on #12
@tonysecurityforcemonitor added +/- buttons, added zoom on scroll wheel.

http://ffctn.com/clients/on/sfm/M15/#country/ng/o/eba73af9-f22a-425f-832d-c8a36b7e5e50!date=2014-01-01&focus=chart

[2016-12-29 18:28] evz commented on #11
@tonysecurityforcemonitor I guess I should have made it clearer that question was mainly directed at you.

[2016-12-29 18:31] sam-ffctn commented on #22
@tonysecurityforcemonitor Added classifications to filter. Selecting them will reduce the list of organizations, which now also have their classifications listed.

http://ffctn.com/clients/on/sfm/M15/#country/ng!date=2014-01-01&focus=map

[2016-12-29 18:53] #12 closed

[2016-12-29 19:14] tonysecurityforcemonitor commented on #22
@sam-ffctn Great the filter is working on the organization list --- however the map doesn't change accordingly. The expected interaction is that the map would also only list organizations with the classification selected in filter.

[2016-12-29 19:41] tonysecurityforcemonitor commented on #19
@sam-ffctn great - many events have null for admin_level_1 simply because the source for the event itself doesn't have an admin_level_1

[2016-12-29 19:41] #19 closed

[2016-12-29 20:58] evz commented on #11
So, it seems like the relevant dates for the map would be when an organization was active at a given site or in a given area?

[2016-12-29 21:18] evz commented on #11
Hmm, it seems like a) I am really confusing myself and b) the API server seems to be really slow to load some of the things that the client parts are relying on. @sam-ffctn Does that seem right? (I mean the second part; I can tell you that the first part is true ;P ) If that is the case, I was thinking about provisioning some more resources for this app eventually anyways and can get that going pr

[2016-12-29 21:23] sam-ffctn commented on #11
Ya this is mostly due to the map (the geometric data is quite huge).
~ 15MB for https://sfm.datamade.us/api/countries/ng/geometries/
~ 1.2MB for https://sfm.datamade.us/api/countries/ng/map/?at=2014-01-01

I might be able to cache some stuff locally, but if you are playing with the timeline and select quite a few dates you could end up loading hundreds of megs of data.

[2016-12-29 21:42] evz commented on #11
I don't know how flexible the client parts are but there is a `tolerance` parameter that you can send to the [`/countries/:id/geometries/`](https://github.com/security-force-monitor/sfm-proxy/blob/master/docs/miscellaneous.md#base-layers) endpoint that tells the response to simplify the geometries it returns. Under the hood it's using the [`ST_Simplify` function from PostGIS](http://www.postgis.or

[2016-12-29 21:50] sam-ffctn commented on #11
That would definitely help, wouldn't be hard to implement client side either.

[2016-12-29 22:06] sam-ffctn commented on #21
We now render the parent of the selected organization
http://ffctn.com/clients/on/sfm/M15/#country/ng/o/9f942b60-1e10-4e0a-a859-04f42dcc4df6!date=2014-01-01&focus=chart&perspective=organizations

[2016-12-29 22:11] tonysecurityforcemonitor commented on #11
@evz Exactly - the current thinking is that an organization's Site or Area of Operation should not be displayed before the respective date of first citation for those fields. Similarly if the Site or Area of Operation is not assumed to current date then they should not be displayed past the date of last citation.

[2016-12-29 22:23] sam-ffctn commented on #8
@tonysecurityforcemonitor is the static content ready yet? I don't think we received any copy yet.

[2016-12-30 14:23] evz commented on #11
@sam-ffctn As discussed, I added a tolerance parameter to:

* `/countries/:id/search/organizations/`
* `/countries/:id/map/`
* `/events/:id/`
* `/organizations/:id/map/`
* `/organizations/:id/chart/`

[2016-12-30 14:46] evz commented on #11
@tonysecurityforcemonitor So, one thing that I am not capturing from the spreadsheet is the "assume area of operations to current date" info. That said, it's simple enough to start grabbing. There's also another field in the spreadsheet (which I am grabbing) called `OrganizationSite:open_ended` which seems like a similar kind of thing but for the organization's site. Is that true?

It sounds like

[2016-12-30 14:59] tonysecurityforcemonitor commented on #11
@evz - Yep that's exactly right!

I do want the attributes about command structure and membership to be displayed in the mini/full dossier and the Chart - I'm not sure if that effects the logic.

[2016-12-30 15:00] tonysecurityforcemonitor commented on #8
@sam-ffctn Sorry still working on it!

[2016-12-30 15:03] evz commented on #11
I guess what I was getting at was that I am basically saying "give me everything where the start date is before a given date OR the end date is after that same date". It seems like that should be an AND most of the time and we should also be taking into account whether or not the relationship (to another organization or to a place) is open ended.

[2016-12-30 15:05] tonysecurityforcemonitor commented on #11
@evz Ah ok that makes sense to me - thanks for the quick reply!

[2016-12-30 17:06] sam-ffctn commented on #22
@tonysecurityforcemonitor The map now updates based on the classifications filter
http://ffctn.com/clients/on/sfm/M15/#country/ng!date=2014-01-01&focus=map&classifications=Military

[2016-12-30 17:20] tonysecurityforcemonitor commented on #22
Works well - thanks!

[2016-12-30 17:20] #22 closed

[2016-12-30 17:33] evz commented on #11
One more, perhaps boneheaded question: Should the present and former commanders returned by the API for the chart view be relative to the date? So, should if a user is looking at what an organization looked like on 2011-01-01, should the `commander_present` be the commander on that date? Or the present commander? Same question for former commanders.

[2016-12-30 17:45] tonysecurityforcemonitor commented on #11
Not boneheaded at all - I believe I'm the only one that has had some boneheaded questions ;)

It would be great if it could be the commander on that date!

That's a good question - I had a whole thing written out for how we could implement a change - but it got really complex fast. So, if possible, lets keep the former commanders in the Mini/Full Dossier the same - meaning displaying the most curr

[2016-12-30 17:51] evz commented on #11
OK, that makes sense. I am actually re-using some code under the hood that makes it so the API response for the chart also has the former commanders (even though they don't get used over there). Since this is going to be a slightly different query, I'll just make it so the chart response only returns the commander that was commander on the given date (and forget about the former commanders since i

[2016-12-30 20:46] sam-ffctn commented on #8
@tonysecurityforcemonitor  I added the country summary for Nigeria
http://ffctn.com/clients/on/sfm/M15/#country/ng/!date=2014-01-01

[2016-12-30 21:11] evz commented on #11
So, I just updated the server so that the responses for the chart view should be relative to the date that the user is looking at.

[2016-12-30 21:19] #8 closed

[2016-12-30 21:55] tonysecurityforcemonitor opened #23 "Error message?"
There is some latin text at the top of the page - I'm not sure what's triggering it.

![image](https://cloud.githubusercontent.com/assets/18744855/21573289/c1cb9a20-ceb0-11e6-9f28-9c8d28733c8c.png)

[2016-12-30 22:09] tonysecurityforcemonitor commented on #21
@evz @sam-ffctn

This doesn't seem to be working as expected yet - the Commander is not populating in the Chart - also the date displayed isn't matching up with what is selected in the timeline - screenshot example:

![image](https://cloud.githubusercontent.com/assets/18744855/21573473/c0547156-ceb2-11e6-931b-5324b16f8b73.png)

[2016-12-30 22:18] tonysecurityforcemonitor opened #24 "Dossiers - Founding Date/First Citation Date and Dissolution/Last Citation Date"
@sam-ffctn - Can we get rid of these two sections of the mini/full dossiers? There was a complicated plan around this - but we are capturing the same data with the Sites of each organization.

[2016-12-30 22:20] tonysecurityforcemonitor opened #25 "Back button not working?"
Just noticed this right now - its across the Map and Chart functionalities

![image](https://cloud.githubusercontent.com/assets/18744855/21573584/375eddc6-ceb4-11e6-931a-a45f444b55f5.png)

[2016-12-30 22:25] tonysecurityforcemonitor commented on #18
@sam-ffctn The source should be a citation similar to citiations for People and Organizations. I checked that the sources are in the CMS - @evz is there an API issue here?

[2017-01-03 15:16] sam-ffctn commented on #23
@tonysecurityforcemonitor I'm not able to reproduce this issue. Could you provide the steps to reproduce it?

It seems like this is content from the about page. Does the about page still look as expected?

This also reminds me that we need content for the about page. Would it be possible to provide it?

[2017-01-03 15:31] sam-ffctn commented on #24
@tonysecurityforcemonitor I removed these fields from the Organization mini/full dossier as well as from the Organization search page.
I also notices it was a field on the Persons search page and I removed it there to.
Let me know if this is what you wanted.

http://ffctn.com/clients/on/sfm/M16/#country/ng/o/9138b29e-c66a-4431-ba24-161d9e44a44c!date=2014-01-01&focus=map

[2017-01-03 15:42] sam-ffctn commented on #25
@tonysecurityforcemonitor The back button seems to be working as intended. Right now the functionality is as follows:
*Current Section -> Section after pressing back*
Country description -> Country List
Organizations list -> Country description
Organization -> Organization list
Person -> Organization list
Event -> Organization list
Chart Page -> Map Page

let me know if this should behave differen

[2017-01-03 17:18] sam-ffctn commented on #21
@tonysecurityforcemonitor fixed issue with the commander not rendering properly, fixed the date offset.

http://ffctn.com/clients/on/sfm/M16/#country/ng/o/9f942b60-1e10-4e0a-a859-04f42dcc4df6!date=2013-01-01&focus=chart

[2017-01-03 17:25] sam-ffctn commented on #18
@tonysecurityforcemonitor @evz It seems like this might be an API issue. I still can't see any sources in the data.
Sample request: https://sfm.datamade.us/api/events/aa69335b-4bb3-4c71-a31e-757046700323/
But then again in the API documentation I don't see any mention of sources either.

[2017-01-03 18:07] tonysecurityforcemonitor commented on #23
@sam-ffctn - I get it for every page I'm on --- for instance going to the link you posted in another issue triggered the text: http://ffctn.com/clients/on/sfm/M16/#country/ng/o/9138b29e-c66a-4431-ba24-161d9e44a44c!date=2014-01-01&focus=map

We can scrap the about page as we are currently planning to have the relevant information on the main website of the Monitor project rather than within the app

[2017-01-03 18:16] tonysecurityforcemonitor commented on #24
@sam-ffctn  Looks good!

[2017-01-03 18:16] #24 closed

[2017-01-03 18:19] tonysecurityforcemonitor commented on #25
@sam-ffctn - currently I am getting no response whatever from clicking on the button. I think it might be related to #23 in some way....

[2017-01-03 18:35] tonysecurityforcemonitor commented on #21
@sam-ffctn while testing this I got an error -

1. followed link from your post above
2. Clicked through timeline to test and it worked
3. Clicked on Ugwu Chima on the mini-dossier

The Person mini dossier failed to load - instead the left column was simply blank.

[2017-01-03 18:36] sam-ffctn commented on #23
@tonysecurityforcemonitor  I removed the about page, let me know if this solves the problem.

http://ffctn.com/clients/on/sfm/M16/#country/ng/o/9138b29e-c66a-4431-ba24-161d9e44a44c!date=2014-01-01&focus=map

[2017-01-03 18:36] sam-ffctn commented on #25
@tonysecurityforcemonitor I removed the about page, let me know if this solves the problem.

http://ffctn.com/clients/on/sfm/M16/#country/ng/o/9138b29e-c66a-4431-ba24-161d9e44a44c!date=2014-01-01&focus=map

[2017-01-03 19:10] sam-ffctn commented on #21
@tonysecurityforcemonitor I think this issue was just the API being slow at responding. I added a spinner to help make it clearer when things are loading and not broken. I will also be looking at caching responses which should decrease loading times/ strain on the server.

http://ffctn.com/clients/on/sfm/M16/#country/ng!date=2014-01-01

[2017-01-03 19:50] tonysecurityforcemonitor commented on #25
@sam-ffctn yep back is working now

[2017-01-03 19:50] #25 closed

[2017-01-03 19:51] tonysecurityforcemonitor commented on #23
@sam-ffctn Yep all set on this one

[2017-01-03 19:51] #23 closed

[2017-01-03 20:00] tonysecurityforcemonitor opened #26 "Mini/Full Dossier - Headquarters not reading correct data?"
@sam-ffctn - The Headquarters appears to be reading the administrative_level_1 but not the administrative_level_2

http://ffctn.com/clients/on/sfm/M16/#country/ng/o/1596e4f4-85a4-47a5-8bef-39f2e72cc98f!date=2014-01-01&focus=map&overlay=organization-dossier

Relatedly - the Current Location map doesn't seem to be reading any data (I would expect to show the headquarters location surronded by the ar

[2017-01-03 20:02] tonysecurityforcemonitor opened #27 "Mini/Full Dosser - Area of Operations not reading data?"
@sam-ffctn - related to #26 the Area of Operations is not being loaded - even though an area of operations is loaded on the Map

http://ffctn.com/clients/on/sfm/M16/#country/ng/o/1596e4f4-85a4-47a5-8bef-39f2e72cc98f!date=2014-01-01&focus=map&overlay=organization-dossier

[2017-01-03 20:10] tonysecurityforcemonitor opened #28 "Mini/Full Dossier - Adding Dates for Commanders?"
@sam-ffctn - could we add the dates for current and former commanders on an Organization's Mini and/or Full Dossier? It would be really helpful for users to get a quick sense of who served when

[2017-01-03 20:14] tonysecurityforcemonitor opened #29 "Mini/Full Person Dossier - Unclear what N/A is referring to"
@sam-ffctn - Under a Person's name in their mini and full dossiers there is a bold N/A - I'm not sure what this is supposed to be reading.

![image](https://cloud.githubusercontent.com/assets/18744855/21621481/35aa0dfa-d1c7-11e6-966d-d06a96efd04d.png)

It may be left over from an old idea - if so we can just get rid of it

[2017-01-03 20:15] sam-ffctn commented on #21
@tonysecurityforcemonitor  @evz I added the client side cache now, so it should make things at least a little faster and I added some reasonable tolerances. I'm not sure I can make it any faster on the client side after this.

I think the issue above is resolved tho.

[2017-01-03 20:23] tonysecurityforcemonitor opened #30 "Full Dossier - Current Location, Map, Area of Operations"
@sam-ffctn - the Person's full dossier - has the same featuers of the Organization's dossier - the Current Location, Map, Headquarters, Location, and Area of Responsibility --- I think we can get rid of all of it since it isn't relevant to how we capture data on a Person currently.

![image](https://cloud.githubusercontent.com/assets/18744855/21621801/9ad9707a-d1c8-11e6-8c70-0cc7ca96f740.png)

htt

[2017-01-03 20:27] sam-ffctn commented on #29
@tonysecurityforcemonitor In the code I see that it was refereeing to *organization*, but in the design document it seems to have been some kind of role ex: *police*. Neither are available in the API (technically organization exists under memberships, but this is a list).

So I'll remove it for now.

[2017-01-03 20:46] tonysecurityforcemonitor commented on #21
@sam-ffctn Yep everything is working now - except for the issues mentioned in #11 - I like the spinner functionality its nice to let the user know things are loading.

[2017-01-03 20:46] #21 closed

[2017-01-03 20:47] tonysecurityforcemonitor commented on #29
@sam-ffctn Great - we don't need it for now so lets just keep it out.

[2017-01-05 14:50] evz commented on #18
@tonysecurityforcemonitor It sounds like we want sources for the event detail view? I can add that into the response.

[2017-01-05 14:56] tonysecurityforcemonitor commented on #18
@evz Yes thanks!

[2017-01-05 17:07] evz commented on #18
OK, the event detail response should include a list of sources for the event

[2017-01-10 18:06] sam-ffctn commented on #11
@tonysecurityforcemonitor I'm not quite sure what the status of this issue is anymore. Is this issue resolved? Do we need to do anything on the client side?

[2017-01-10 18:25] tonysecurityforcemonitor commented on #11
Thanks for following up @sam-ffctn - the chart doesn't seem to be returning data based on the selected date - http://ffctn.com/clients/on/sfm/M16/#country/ng/o/765f0a38-22d3-4115-86b3-0c03d829ae02!date=2012-08-08&focus=chart&overlay= --- The commander never changes, nor does any of the relationships between organizations.

Right now it appears to be static. Not sure if this is an issue for you @ev

[2017-01-10 18:36] sam-ffctn commented on #11
@evz @tonysecurityforcemonitor To test this I would need to know 2 api calls that have different organizational relationships/commanders. Its possible that this may still be an issue on the client side, its just a bit difficult to test.

[2017-01-12 16:01] tonysecurityforcemonitor commented on #11
@sam-ffctn I'm not sure if this is helpful - but I would test the 3 Armoured Division - http://ffctn.com/clients/on/sfm/M16/#country/ng/o/765f0a38-22d3-4115-86b3-0c03d829ae02!date=2014-01-01&focus=chart&classifications=Army&overlay=

The 3 Armoured Division has had 17 commanders since 14 March 1999

The 21 Armoured Brigade is a child of the 3 Armoured Division from 11 March 2002 until 18 August 20

[2017-01-13 15:20] sam-ffctn commented on #29
@tonysecurityforcemonitor it has been removed

http://ffctn.com/clients/on/sfm/M17/#country/ng/p/352ac951-76aa-46a2-af69-b0799fb9dba3!date=2014-01-01&focus=map

both from mini dossier and dossier.

[2017-01-13 15:52] sam-ffctn commented on #28
@tonysecurityforcemonitor the dates have been added. (both mini and full dossier)

http://ffctn.com/clients/on/sfm/M17/#country/ng/o/a91af551-a806-426b-832a-01a5cf6f2456!date=2014-01-01&focus=map

[2017-01-13 16:39] sam-ffctn commented on #18
@tonysecurityforcemonitor the sources should now be listed for the events

http://ffctn.com/clients/on/sfm/M17/#country/ng/e/d4929e67-540b-4afd-be9e-7297e67e8a12!date=2014-01-01&focus=map

@evz
A few issues with the API
1) The sources are nested in an additional array for no apparent reason, this seems like it might be a bug
2) Sometimes duplicate sources are listed.

I worked around the first iss

[2017-01-13 16:53] sam-ffctn commented on #30
@tonysecurityforcemonitor the fields have been removed

http://ffctn.com/clients/on/sfm/M17/#country/ng/p/352ac951-76aa-46a2-af69-b0799fb9dba3!date=2014-01-01&focus=map&overlay=person-dossier

[2017-01-13 17:29] sam-ffctn commented on #26
@tonysecurityforcemonitor @evz

The only properties I have for sites (headquarters) are:
[code]

and for areas of operation I have:
[code]

I'm not sure I have the data for the administrative_level_2 property.

I understand that the area of operations wasn't showing at all as well as for the current location(mini map). I'm working on a fix for that now. For now as a fallback I'm just showing the "

[2017-01-13 17:46] #29 closed

[2017-01-13 17:49] tonysecurityforcemonitor commented on #28
@sam-ffctn This looks great! Can we rank the former commanders by date of first citation so that it flows in chronological order?

[2017-01-13 17:59] #30 closed

[2017-01-13 18:48] sam-ffctn commented on #28
@tonysecurityforcemonitor ok they are now ordered in descending order.

http://ffctn.com/clients/on/sfm/M17/#country/ng/o/a91af551-a806-426b-832a-01a5cf6f2456!date=2014-01-01&focus=map

[2017-01-13 19:56] tonysecurityforcemonitor opened #31 "Map - Not displaying Installations"
@sam-ffctn -  the map isn't displaying any Installations - this may be relatd to #26

[2017-01-13 19:59] tonysecurityforcemonitor opened #32 "Map - Overlapping Areas of Operation"
@sam-ffctn - can we implement something so that if a user hovers over an Area of Operation for a number of seconds the tooltip/selection will move from the top layer to the layer below?

Right now the smallest Area of Operation is the top layer which is good - however there will be Organizations whose Area of Operation will be completely covered by smaller Areas of Operation for other organization

[2017-01-13 20:00] tonysecurityforcemonitor commented on #28
@sam-ffctn Perfect - thanks!

[2017-01-13 20:00] #28 closed

[2017-01-13 20:26] tonysecurityforcemonitor commented on #26
@sam-ffctn @evz

Ok - this looks like a bit of mix of API and UI issues.

As I understand it the Site/Headquarters listing in the UI in the dossiers should have the following componants:

Site:Name (Column Y in the Master Import Sheet)
Site	admin_level_1_geonames_name (Column AB)
Site	admin_level_2_geonames_name (Column AF)
date_first_cited (Column AK)
date_last_cited (Column AO)

So the 3 Armoure

[2017-01-13 20:50] #6 closed

[2017-01-13 20:53] tonysecurityforcemonitor commented on #7
@sam-ffctn the only remaining question I have on this is for Organizations with multiple areas of operation - but I think it more of a question about the CMS for @evz .

Leaving this open for now and will create some issues in the CMS git thread that will address this among other things

[2017-01-13 20:53] #10 closed

[2017-01-13 22:00] sam-ffctn commented on #26
@tonysecurityforcemonitor @evz

Right now the API doesn't seem to be returning `admin_level_1_geonames_name` or `admin_level_2_geonames_name`.

 I'll wait until the API is updated before solving these issues. Should be a quick fix once we have that.

As a side note, the location map should be fixed now on the latest version.

[2017-01-13 22:02] sam-ffctn commented on #27
@tonysecurityforcemonitor @evz

The area of operation should be showing now, but I can only show what I get from the API, I still need the admin_level_1 and admin_level_2 fields before being able to complete this issue.

[2017-01-16 15:03] sam-ffctn commented on #31
@tonysecurityforcemonitor @evz The installations doesn't seem to be implemented at all. I'm not quite sure where to get the data for these installations? Is is in `GET /coutries/:id/map` under `organizations>properties>site_current>location`? This value also seems to be under `organization>geometry`.

[2017-01-16 15:29] tonysecurityforcemonitor commented on #31
@sam-ffctn @evz Installations should be the Site(s) for the Organization.

[2017-01-16 16:01] jsmoak commented on #32
@tonysecurityforcemonitor Currently there is a parallel structure set up in the map to view the Areas of Operation for organizations, in case the situation you mentioned occurs.

[2017-01-16 16:42] tonysecurityforcemonitor commented on #32
@jsmoak Sorry - can you explain a bit more about the parallel structure?

[2017-01-16 17:06] tonysecurityforcemonitor commented on #27
@sam-ffctn This does seem to be working well -- the Area of Operations should only have one area related to it (rather than admin_level_1 and admin_level_2 which would be related to a Site) - @evz do I have that right in terms of the API? I think we might actually be able to close this issue, but want to confirm first.

[2017-01-16 17:16] jsmoak commented on #32
@tonysecurityforcemonitor Sure - When in the Area of Operations map, if for any reason you can not see the organization on the tooltip (should only be in the instance where the smaller ones are hiding the larger), the user can click on the organization on the right-hand panel, and access it that way.

[2017-01-16 20:39] sam-ffctn commented on #31
@tonysecurityforcemonitor ok the sites/installations are now added to the map and can be hidden using the legend.

Hovering over an installation will highlight the corresponding organization area (most sites don't have organizations with defined areas).

Clicking on an organization will bring up its organization mini dossier.

http://ffctn.com/clients/on/sfm/M18/#country/ng!date=2014-01-01&focus=m

[2017-01-16 21:26] sam-ffctn commented on #11
@tonysecurityforcemonitor @evz There seems to be a bug in the API for the chart when requesting the chart for 3 Armored Division this will in turn create bugs in the chart layout.

api request: https://sfm.datamade.us/api/organizations/765f0a38-22d3-4115-86b3-0c03d829ae02/chart/?at=2014-01-01

The bug is in the parent/child relationship for the node `e6aea19b-8579-4e1d-8a15-4a326cbc0dd4`, this nod

[2017-01-17 01:39] tonysecurityforcemonitor commented on #31
@sam-ffctn This is working well - can we have the tooltip appear when a user hovers over an installation?

[2017-01-17 15:04] tonysecurityforcemonitor commented on #11
@sam-ffctn @evz  - Just one quick note here - organizations can have more than 1 parent (not sure if that's what you mean by nodes) - generally this means an organization could have 2 parents (off the top of my head I can't think of any example of an organizations with 3 parents)

[2017-01-17 15:08] evz commented on #26
@tonysecurityforcemonitor Oh, ha. I see what's going on. I am getting the Site:Name from the wrong column. Fix incoming.

[2017-01-17 15:09] evz commented on #18
@sam-ffctn I have a fix for this and will deploy it today with other things that were raised last week.

[2017-01-17 19:38] evz commented on #26
@sam-ffctn @tonysecurityforcemonitor The Site names should be worked out now

[2017-01-17 19:38] evz commented on #18
@sam-ffctn The fix for this should now be live on the API

[2017-01-17 19:39] evz commented on #7
@tonysecurityforcemonitor A short answer is that the CMS makes an allowance for that. Organizations can have many areas of operation and sites.

[2017-01-17 19:44] evz commented on #27
@tonysecurityforcemonitor Yeah, that's right. We don't capture that info about an Area in the database. If we wanted to, we could infer it based upon the OSM ID but it's not in the API (nor is it in the database or Master Import spreadsheet for that matter).

[2017-01-17 20:01] evz commented on #11
@tonysecurityforcemonitor It looks like the problem that @sam-ffctn is describing above is actually reflected in the master import spreadsheet. If you scroll down to row 647, you'll see that there is an organization called "Special Task Force" that has the parent "Special Task Force". If these are somehow different special task forces, I guess we should figure out a convention for making them uniq

[2017-01-17 20:01] evz commented on #11
Wait, make that row 644. Sorry.

[2017-01-17 20:28] tonysecurityforcemonitor commented on #11
@evz Ah I see - that's a mistake in the data. No organization can ever be it's own parent!

[2017-01-17 20:31] tonysecurityforcemonitor commented on #11
@evz @sam-ffctn the mistake on row 644 has been fixed

[2017-01-17 21:11] tonysecurityforcemonitor commented on #27
@evz - wait - but that's what Columns AS through BD are capturing

[2017-01-17 21:13] tonysecurityforcemonitor commented on #18
@evz I'm getting an API error that is preventing testing - I get it on http://ffctn.com/clients/on/sfm/M18/#country/ng!date=2014-01-01&focus=map

[2017-01-17 21:21] evz commented on #18
@sam-ffctn It looks like a couple of the requests are timing out. Can you give me the URLs that you are trying to hit?

[2017-01-19 15:44] tonysecurityforcemonitor commented on #18
@sam-ffctn @evz Yes unfortunately the map http://ffctn.com/clients/on/sfm/M18/#country/ng!date=2014-01-01 is taking forever to load... its making it so I can't test anything.

[2017-01-19 15:51] sam-ffctn commented on #11
@tonysecurityforcemonitor Thanks for the fix.

@sebastien For the multiple parents, right now it's not possible for our graph/tree layout engine to render multiple parents, this would be a huge fix or we would need to switch to a different layout engine. I'm not sure if this was established earlier on in the project. It might be possible to get around this by only showing parts of the graph at any

[2017-01-19 15:53] tonysecurityforcemonitor commented on #11
@sam-ffctn @sebastien - Can you describe a little bit more what it would mean about only showing parts of the graph at any given time?

[2017-01-19 15:54] evz commented on #18
@tonysecurityforcemonitor I'm working on a couple server level things to make those queries run a little faster. I'll have that ready today and hopefully it'll mean we don't really need to change anything else.

[2017-01-19 16:01] tonysecurityforcemonitor commented on #11
@sam-ffctn @sebastien Also - just to clarify, is the issue an organization that has more than 1 parent at the same time, or an organization that has different parents over time, but only 1 parent at a time?

[2017-01-19 16:05] sam-ffctn commented on #11
@tonysecurityforcemonitor The issue is having multiple parent simultaneously, since we can no longer render the graph as a tree at that point.

If we only show the immediate parents and children we might be able to get our layout engine to work with that, but I think that might make the chart useless since it won't show much information at all.

[2017-01-19 16:07] tonysecurityforcemonitor commented on #11
@sam-ffctn Ah ok - let's do this then, I'll work to remove any organization that has multiple parents at the same time so we don't trigger this issue (it's a very, very small number of organizations). I'm reviewing the data now and will work with @evz to pull out the conflicts.

[2017-01-20 17:35] evz commented on #18
@tonysecurityforcemonitor @sam-ffctn I just got everything setup on the new server so you should notice a pretty decent performance boost. I added some server side caching, too so, once a resource is fetched and cached, it'll be very fast to load the next time.

[2017-01-20 18:49] tonysecurityforcemonitor commented on #18
@sam-ffctn @evz I see the sources are loading now in the Event dossier - and the performance is much better too! I think this resolves everything but there was some API and other discussion so let me know if this issue is ok to close.

[2017-01-20 18:50] tonysecurityforcemonitor commented on #31
@sam-ffctn - installations aren't showing again --- http://ffctn.com/clients/on/sfm/M18/#country/ng!date=2014-01-01&focus=map

[2017-01-20 19:24] tonysecurityforcemonitor opened #33 "Slow loading..."
@sam-ffctn @evz - I'm having difficulties accessing the latest build - http://ffctn.com/clients/on/sfm/M18/#country/ng!date=2014-01-01 - sometimes I hit it where I'm waiting 10 minutes + for things to load (to no avail). I think there has been an issue with the queries the UI is running that generate a huge ton of data, but it could be something else. Right now I'm not able to test much.

[2017-01-20 20:58] tonysecurityforcemonitor commented on #26
@sam-ffctn @evz There still seems to be an issue with this loading data - for instance: http://ffctn.com/clients/on/sfm/M18/#country/ng/o/9067a45a-be22-4a89-8010-835d0586c3e7!date=2014-01-01&focus=map&overlay=organization-dossier

[2017-01-20 21:59] tonysecurityforcemonitor commented on #33
@sam-ffctn @evz - nevermind it seems to be working much better now.

[2017-01-20 21:59] #33 closed

[2017-01-23 19:08] sam-ffctn commented on #18
@tonysecurityforcemonitor The API issue is resolved, I think we can close this issue.

[2017-01-23 19:16] sam-ffctn commented on #7
@tonysecurityforcemonitor @evz is there anything that needs to be done on the frontend to support multiple areas of operation? Right now I'm just displaying the `area_name`

[2017-01-23 19:37] sam-ffctn commented on #26
@tonysecurityforcemonitor @evz the Headquaters name is now pulled from the `osm_name` property for both the dossier and mini dossier.
ex: http://ffctn.com/clients/on/sfm/M19/#country/ng/o/9067a45a-be22-4a89-8010-835d0586c3e7!date=2014-01-01&focus=map&overlay=

[2017-01-23 19:41] sam-ffctn commented on #27
@tonysecurityforcemonitor @evz I'm not sure if any changes still need to be made on the front-end as far as I know the correct values are being displayed.

[2017-01-23 19:52] #18 closed

[2017-01-23 19:59] sam-ffctn commented on #31
@tonysecurityforcemonitor @evz this seems to be an api bug, the `location` property is always returning `null` now instead of the expected point data.

The API end point in question: https://sfm.datamade.us/api/countries/ng/map/?tolerance=0.01&at=2014-01-01

[2017-01-23 19:59] tonysecurityforcemonitor commented on #26
@sam-ffctn @evz - There is still a small issue with this - it might be a CMS/API issue... I'd expect the Headquarters for this unit to be Makurdi, Benue - or Site OSM Name (column AB in Master Import), Admin 1 OSM Name (column AF in Master Import). Looking at the entry for this unit in the CMS it appears that Site OSM Name and Admin 1 OSM Name are both Makurdi which might be the root of the issue.

[2017-01-23 20:04] tonysecurityforcemonitor opened #34 "Export Features"
@sam-ffctn - I don't think we have everything in order to implement the Export CSV or Export Text functionalities currently listed on various pages.

![image](https://cloud.githubusercontent.com/assets/18744855/22220579/39759fba-e17d-11e6-9313-630bdea43f79.png)

Can we just change to Export Data (coming soon!) - or remove that section all together?

[2017-01-23 20:30] sam-ffctn commented on #11
@evz The API now seems to be missing some parent nodes in the request

ex:
https://sfm.datamade.us/api/organizations/5a8e5e4b-5669-49a4-a500-eefd93111e29/chart/?at=2014-01-01
references the node: 19ad99a4-9db8-49a0-8a03-bf6a78be872c
but that node is nowhere to be found in the data

another example:

this [request](https://sfm.datamade.us/api/organizations/acc51404-b07c-430b-895a-88c4c63d305e/chart

[2017-01-23 20:38] sam-ffctn commented on #34
@tonysecurityforcemonitor I removed this section from the search, the dossiers and the country profile.

ex: http://ffctn.com/clients/on/sfm/M19/#country/ng/o/acc51404-b07c-430b-895a-88c4c63d305e!date=2014-01-01&focus=country&perspective=organizations

[2017-01-23 20:39] tonysecurityforcemonitor commented on #34
Great thanks!

[2017-01-23 20:39] #34 closed

[2017-01-23 20:45] tonysecurityforcemonitor commented on #32
@jsmoak - just because we have so many organizations in the Monitor and the right hand panel is static it would be great if a user could see underneath via hovering --- however, if this would require significant time to implement let's table it. Users can also use the search function too.

[2017-01-24 17:40] evz commented on #11
So, hmm, I'm a little confused. What do you mean by "nowhere to be found"? I found them:

https://sfm.datamade.us/api/organizations/3caa62a3-821a-4eca-8e47-ed7d4adf2fb6/
https://sfm.datamade.us/api/organizations/7b18947c-792b-460a-b711-fd73c7aaa2b0/
https://sfm.datamade.us/api/organizations/19ad99a4-9db8-49a0-8a03-bf6a78be872c/

It's possible that the application cache cached something poorly when

[2017-01-24 17:47] evz commented on #26
Oh, OK, so, the headquarters should be (Site OSM Name) + (Admin 1 OSM Name) if it's not specified as something else?

[2017-01-24 17:52] tonysecurityforcemonitor commented on #26
@evz - sorry I forgot one thing - headquarters should be Headquarters (Barracks, Base, Physical Asset) + (Site OSM Name) + (Admin 1 OSM Name). Most entries will only have data for (Site OSM Name) + (Admin 1 OSM Name) - and some will only have data for (Admin 1 OSM Name). Everything should have an (Admin 1 OSM Name) --- if it doesn't I should fix in the data.

Can you share an example when it's spe

[2017-01-24 17:59] evz commented on #26
Oh that's what I was talking about. If the "headquarters" column was blank, I was leaving the site name blank. It makes sense for the site name to be a combination of those columns. I'll fix that.

[2017-01-24 18:00] tonysecurityforcemonitor commented on #31
I suspect this is related to #26

[2017-01-24 18:03] tonysecurityforcemonitor opened #35 "Dossier - renaming Headquarters to Installations"
@sam-ffctn - Can we rename the section that is currently titled "Headquarters" to "Installations"? It will be nice to standardize terminology from the Map Legend across other functionalities.

[2017-01-24 18:05] tonysecurityforcemonitor opened #36 "Dossier - Sources not displaying?"
@sam-ffctn - The sources in the dossier aren't displaying any more - we had implemented a fix so that anything in the dossier that had sources was being displayed but currently only the sources for the Organization's name seem to be displaying.

[2017-01-24 19:07] sam-ffctn commented on #11
@evz I mean they aren't found in the parent or children in the /organizations/:id/chart endpoint, I know it can be found by directly requesting it.
As far as I understand the parents property contains a list of the parents all the way up to the root, and the children are all the children, not just the direct descendants. If this is the case then it shouldn't be possible for a node to reference ano

[2017-01-24 19:13] evz commented on #11
Oh, I see. Let me dig a bit deeper.

[2017-01-25 15:00] evz commented on #11
So, I have yet to find the root cause of this. I am unable to reproduce it in my local development stack which makes me think it's somehow just an issue with the data loader. I am in the process of recreating those tables now in an attempt to make clean it up.

[2017-01-25 17:08] evz commented on #11
OK, I think I excised the demons here. It came down to the database on the server just needing a full refresh. I'll need to think a bit more about how I want to perform updates from the Google Doc (but hopefully that won't be needed for much longer)

[2017-01-25 17:20] tonysecurityforcemonitor commented on #11
Thanks @evz ! Yes we will be getting away from using the Master Import Sheet soon enough. There are a couple of outstanding issues that are on my plate regarding the Sheet that I'm hoping to bang out soon (next day or two).

[2017-01-25 17:34] evz commented on #31
OK, I figured this out. At some point I removed the code that updated the coordinates for the sites as they were being imported from the Google Sheet. D'oh. It's back and I am running an import / refresh to get that `location` property populated.

[2017-01-25 17:41] evz commented on #31
That property should be populated now. Sorry about that.

[2017-01-25 17:55] tonysecurityforcemonitor commented on #31
This is working now - I'll pull the tooltip comment into a new/clean issue.

[2017-01-25 17:55] #31 closed

[2017-01-25 17:57] tonysecurityforcemonitor opened #37 "Map - Tooltip for Installations?"
@sam-ffctn Can we have a tooltip appear when a user hovers over an installation?

[2017-01-25 18:06] tonysecurityforcemonitor opened #38 "Map - Installations not Filtering"
@sam-ffctn - The filter function works well for the Area of Operations on the Map, but it doesn't seem to effect the installations. I'd expect selecting Army from the Filter drop down would mean I would only see Areas of Operations and/or Installations of Organizations with a classification of Army.

[2017-01-26 17:22] tonysecurityforcemonitor commented on #27
@evz @sam-ffctn - I'm trying to check this using Zone 7 Police Command http://ffctn.com/clients/on/sfm/M19/#country/ng/o/0d381563-5575-4542-97d7-830224d0bb3c!date=2014-01-01&focus=map&overlay=organization-dossier

In the CMS this organization has more than one AOO (Niger, Kaduna and Federal Capital Territory) but in the UI only Niger is being displayed on the map and it is the only one displayed i

[2017-01-26 17:33] tonysecurityforcemonitor opened #39 "Dossier - Displaying dates for Superior and Subordinate Organizations?"
@sam-ffctn - Can we display the dates for the superior and subordinate organizations in the mini and full dossiers? That extra context would be quite helpful.

[2017-01-26 17:45] tonysecurityforcemonitor commented on #11
Just did some testing with http://ffctn.com/clients/on/sfm/M19/#country/ng/o/e7d0a9ac-708c-495d-b5da-5ce1a9fe08ee!date=2012-11-30&focus=chart&classifications=Army&overlay= -- this seems to be working quite well!

[2017-01-26 17:45] #11 closed

[2017-01-27 20:21] evz commented on #27
@tonysecurityforcemonitor I'll take a look into this. It looks like the API is only returning the one area.

[2017-01-27 20:37] evz commented on #27
@tonysecurityforcemonitor OK, that should be fixed now. Looks like the UI is displaying all three, as well.

[2017-01-30 17:00] tonysecurityforcemonitor opened #40 "UI issues in IE"
@sam-ffctn - the UI is having issues displaying properly in IE - I'm testing on IE 11 version 11.0.9600.18537

Both on the initial summary screen:

![image](https://cloud.githubusercontent.com/assets/18744855/22432604/70845440-e6e3-11e6-887f-26971462d4cf.png)

And the overall Map page:

![image](https://cloud.githubusercontent.com/assets/18744855/22432643/9a4d9b42-e6e3-11e6-87fc-420fe01dd0f2.png)

[2017-01-30 17:02] evz commented on #26
Oh, I guess I never followed up on this. I went through and concatenated the names in the way that @tonysecurityforcemonitor suggested.

[2017-01-30 17:10] tonysecurityforcemonitor commented on #27
@sam-ffctn - The only issue left on this is with the tooltip for Zone 7 which only lists Niger as an Area of Operation. The dossier lists the correct three entries however.

[2017-01-31 19:33] tonysecurityforcemonitor opened #41 "Dossier - Area of Operation repeated multiple times?"
@sam-ffctn - sometimes the Area of Operation for an Organization is repeated multiple times - I can't find a reason in the CMS why this would be the case - @evz not sure if this is something from the API?

For example: the 1 Mechanised Division - http://ffctn.com/clients/on/sfm/M19/#country/ng/o/e7d0a9ac-708c-495d-b5da-5ce1a9fe08ee!date=2014-01-01&focus=map&classifications=Army&overlay=organizatio

[2017-01-31 19:37] evz commented on #41
Huh, looks like a problem with the API. I'll look into it.

[2017-01-31 19:47] evz commented on #41
OK. Looks like I fixed it. Sorry about that.

[2017-01-31 20:05] tonysecurityforcemonitor commented on #41
Yep working now - thanks!

[2017-01-31 20:05] #41 closed

[2017-02-01 16:05] tonysecurityforcemonitor commented on #26
@evz @sam-ffctn - This still isn't working as expected... - examples:

**All fields related to Site/Headquarters should be in CMS**
http://ffctn.com/clients/on/sfm/M19/#country/ng/o/1d5b6310-68af-4402-a2a4-d61a2aae9236!date=2014-01-01&focus=map&overlay=organization-dossier

- Headquarters is listed as: Brinin Kebbi
- I'd expect: Dukku Barracks (confidence score, sources), Birnin Kebbi (confidence

[2017-02-06 18:25] tonysecurityforcemonitor commented on #32
Tabled re: call

[2017-02-06 18:25] #32 closed

[2017-02-06 19:28] tonysecurityforcemonitor commented on #40
tabled re: call

[2017-02-06 19:28] #40 closed

[2017-02-06 19:28] tonysecurityforcemonitor commented on #37
@sam-ffctn - this would be the exact same tooltip as appears when a user hovers over an Area.

[2017-02-06 19:32] tonysecurityforcemonitor commented on #36
@sam-ffctn - To clarify I mean both sources and confidence scores for each section of the dossier. We should keep all the sources together in one section (ala Wikipedia) as it is currently implemented.

@evz This may be an API issue...

Sources are currently displaying for:

1. Name
2. Other Names

Sources should be also displaying for:

1. Classification
2. Commander
3. Former Commanders
4. Area

[2017-02-06 19:35] tonysecurityforcemonitor opened #42 "Map/Dossiers - Peacekeeping orgs/people not displaying"
@evz clicking on Sierra Leon, DRC or Liberia (example link: http://ffctn.com/clients/on/sfm/M19/#country/lr!date=2014-01-01) brings up a blank map with no Organizations.

I'm not sure if this is an API or data issue.

[2017-02-06 19:35] tonysecurityforcemonitor commented on #27
will create new issue for the tooltip issue

[2017-02-06 19:35] #27 closed

[2017-02-06 19:38] tonysecurityforcemonitor opened #43 "Tooltip - Need to display multiple Areas of Operation"
@sam-ffctn - Currently the tooltip only lists one Area of Operation - even if the Organization has multiple areas of operation listed in its dossier - example: http://ffctn.com/clients/on/sfm/M19/#country/ng/o/358c956b-29ca-4dc4-b1ff-847d040d0fbc!date=2014-01-01&focus=map

Can we have the tooltip list all the Areas of Operation for an Organization with each Area comma separated?

[2017-02-06 19:38] tonysecurityforcemonitor commented on #7
created new issue to deal with tooltip issue

[2017-02-06 19:38] #7 closed

[2017-02-06 19:56] evz opened #44 "How should we flatten lists of things for CSV serialization?"
The three API endpoints that, according to the spec, should optionally return a CSV version, are:

- [ ] `/organizations/:id`
- [ ] `/people/:id`
- [ ] `/countries/:id/search/organizations`
- [ ] `/countries/:id/search/people`
- [ ] `/countries/:id/search/events`

(If there are more, let's identify them below)

As mentioned in the call, these responses return nested lists of things (so an organiza

[2017-02-06 21:10] tonysecurityforcemonitor commented on #44
At this initial stage I think going this route makes the most sense. Would adding a unique id for every Person, Organization and Event help make the csv more digestible? In general I'm assuming a user that downloads the Monitor's data is fairly well versed in navigating csv files and making sense of complex data. (That being said I think there are issues around properly pulling the data apart that

[2017-02-08 21:47] tonysecurityforcemonitor opened #45 "Mexico Data not displaying?"
@sam-ffctn @evz - Not sure what the issue is here, when I go to the Map it is mostly blank - http://ffctn.com/clients/on/sfm/M19/#country/mx!date=2014-01-01&focus=map

However, when I search multiple units that aren't displayed are in the system: http://ffctn.com/clients/on/sfm/M19/#country/mx/o/33c5c094-fb41-4d45-9d9c-074ce428acf2!date=2014-01-01&focus=map&overlay=organization-dossier

[2017-02-10 14:42] evz commented on #44
@tlongers Do you have any additional input here? If not, I'll go ahead and start implementing the version that @tonysecurityforcemonitor suggested

[2017-02-10 14:49] tlongers commented on #44
I'm for an open, download it all approach. However, I think the form needs more thought. If we take the current spreadsheet form as a baseline, I would not expect anyone to be able to use it successfully - the density of the model, normalisation issues, make it incomprehensible. I would focus work on an initial export function on getting out the data that answers a user's question.

[2017-02-10 15:18] evz commented on #44
So, yeah, I guess the question depends on the context where the download is happening. I remember there being a few places where there was a "export as CSV" button but now I can't find those anymore. Do we want just one big download? Or many smaller downloads?

[2017-02-10 16:13] tlongers commented on #44
There's a few places where CSV export is offered ([1](http://ffctn.com/clients/on/sfm/M18/#country/ng/o/9c7c5c1e-f5d7-40db-8c7c-6242ff576bb1!date=2014-01-01&focus=map&overlay=search), [2](http://ffctn.com/clients/on/sfm/M18/#country/ng!date=2014-01-01) and [3](http://ffctn.com/clients/on/sfm/M18/#country/ng/o/478f4848-eca2-41fd-93b2-d27bc81da7b6!date=2014-01-01&focus=map&overlay=organization-dossi

[2017-02-10 16:35] tonysecurityforcemonitor commented on #44
@evz @tlongers I'm not sure the current workflow in the app would work well for the "getting out the data that answers a user's question" (pin here for future thinking on this). In theory the user would be downloading all the data related to an organization/person or event but without context (ie give me all the data on the 21 Brigade, as part of that data I see the parent unit is the 3 Division,

[2017-02-13 15:57] sam-ffctn commented on #26
@tonysecurityforcemonitor @evz the organizations seemed to have change ids and all the above links are broken (The API returns an empty object for GET /organizations/:id).

I have however changed the displayed heaquarter (now called installations) to the `sites.properties.name` I was displaying `sites.properties.osm_name` previously.

I'm not exactly sure if this addresses this issue.

example sit

[2017-02-13 15:59] sam-ffctn commented on #35
@tonysecurityforcemonitor this is updated in the latest version: http://ffctn.com/clients/on/sfm/M20/
Changed in both the dossier and mini dossier.

[2017-02-13 16:06] tonysecurityforcemonitor commented on #26
@sam-ffctn The changed ids is a result of the new import I believe --- regardless this is working exactly as I'd expect - thanks!

[2017-02-13 16:06] #26 closed

[2017-02-13 16:07] tonysecurityforcemonitor commented on #35
@sam-ffctn Perfect -thanks!

[2017-02-13 16:07] #35 closed

[2017-02-13 17:07] sam-ffctn commented on #36
@evz @tonysecurityforcemonitor

Here is the current status for all the field sources:

Classification
- This seems to be working properly

Commander
- source only listed under `people` instead of under `commander_present`
- unconventional formatting for confidence using ie. "1" instead of "low".

Former Commanders
- source only listed under `people` instead of under `commanders_former`
- unconvent

[2017-02-13 17:19] tonysecurityforcemonitor commented on #36
I can't get it to display - example: http://ffctn.com/clients/on/sfm/M20/#country/ng/o/891f25a2-2eed-4765-af76-130dcee6358c!date=2014-01-01&focus=map&overlay=organization-dossier

![image](https://cloud.githubusercontent.com/assets/18744855/22894344/b2b39cd2-f1e6-11e6-8f0d-4f67f68dd3bb.png)

[2017-02-13 18:33] sam-ffctn commented on #36
@tonysecurityforcemonitor @evz that organization doesn't have any sources listed in the API call.

this one does however: http://ffctn.com/clients/on/sfm/M20/#country/ng/o/6233bb7a-410b-46ce-a9dd-30ac11afc2c5!date=2014-01-01&focus=chart

If that organization is supposed to have sources then it would be a bug with the API

[2017-02-13 18:44] tonysecurityforcemonitor commented on #36
Ah ok thanks @sam-ffctn that's helpful. @evz there should be sources for that classification... I see them in the Master Import list.

[2017-02-13 18:44] sam-ffctn commented on #39
@evz @tonysecurityforcemonitor I'm missning the `date_first_cited` and `date_last_cited` properties on the  parent and child elements for the organization endpoint.

ex: https://sfm.datamade.us/api/organizations/eda35997-21d0-4d53-a923-e9984c76afd0/

These are in the api documentation: https://github.com/security-force-monitor/sfm-proxy/blob/master/docs/organizations.md

[2017-02-13 20:00] sam-ffctn commented on #43
@tonysecurityforcemonitor @evz

For the tooltip I display the data from the Map endpoint:
ex: https://sfm.datamade.us/api/countries/ng/map/?tolerance=0.01&at=2014-01-01

here I can find the following for each organization:

[code]

the `name` property is what I display in the tooltip. I'm a bit confused as to why this name isn't representative of all of the areas related to the organization. Is th

[2017-02-13 20:05] tonysecurityforcemonitor commented on #39
@evz @sam-ffctn - in theory the date_first_cited and date_last_cited would only apply to the "immediate" parent/child organizations - would that cut down the list of organizations displayed in the dossier? For instance this organization [(link](http://ffctn.com/clients/on/sfm/M20/#country/ng/o/9a95a773-5272-45ce-a950-e9063194b8bf!date=2014-01-01&focus=map&overlay=organization-dossier)) has quite a

[2017-02-13 20:59] tonysecurityforcemonitor commented on #36
@evz this also raises a question about security-force-monitor/sfm-cms#104 - was this an issue in the API or did the sources not make it into the CMS?

[2017-02-13 21:42] sam-ffctn commented on #37
@tonysecurityforcemonitor I added the tooltip, I also added a "selected" effect to the installations.

This means that when you hover over an area you will be able to visually identify what installations are related to the organization and vice-versa.

[2017-02-13 22:11] tonysecurityforcemonitor commented on #37
@sam-ffctn Looks/works great - thanks!

[2017-02-13 22:11] #37 closed

[2017-02-13 22:32] sam-ffctn commented on #38
Installations should now filter the same way that the areas filter.

ex: http://ffctn.com/clients/on/sfm/M20/#country/ng!date=2014-01-01&focus=map&classifications=Joint%20Task%20Force

[2017-02-14 14:24] tonysecurityforcemonitor commented on #38
@sam-ffctn Perfect!

[2017-02-14 14:24] #38 closed

[2017-02-14 14:42] tonysecurityforcemonitor commented on #43
@sam-ffctn @evz I'm not sure if this is connected or not - but when I filter through not all of the areas of operation are showing - for instance the various Army organizations all have enough data to cover the entire map of Nigeria with various AOOs, however when I filter to only display the Army I get this: http://ffctn.com/clients/on/sfm/M20/#country/ng!date=2014-01-01&classifications=Army&focu

[2017-02-14 15:33] sam-ffctn commented on #45
@tonysecurityforcemonitor @evz
Currently I'm only getting 4 organizations for this endpoint (the ones displayed on the map): https://sfm.datamade.us/api/countries/mx/geometries

The API should be listing all the organizations for that endpoint.

[2017-02-14 15:56] sam-ffctn commented on #42
@tonysecurityforcemonitor @evz

The API requests for these countries comeback completely empty.

ex:
https://sfm.datamade.us/api/countries/sl/map/?tolerance=0.01&at=2014-01-01
https://sfm.datamade.us/api/countries/cd/map/?tolerance=0.01&at=2014-01-01
https://sfm.datamade.us/api/countries/lr/map/?tolerance=0.01&at=2014-01-01

[2017-02-14 18:45] sam-ffctn commented on #45
@tonysecurityforcemonitor One thing to note is that the organization may not be visible at due to the date selected on the timeline. (which wasn't working for mexico until now)

Selecting different dates will reveal other organizations.

[2017-02-16 14:41] tonysecurityforcemonitor opened #46 "Person Dossiers no longer loading"
@evz has there been an API change that could have caused this? For example every person related to http://ffctn.com/clients/on/sfm/M20/#country/ng/o/358c956b-29ca-4dc4-b1ff-847d040d0fbc!date=2014-01-01&focus=map&classifications=Army&overlay=organization-dossier  - now no longer has their job history display. The only data that seems to be loading is alternative names.

[2017-02-20 16:26] sam-ffctn commented on #39
@tonysecurityforcemonitor displaying the grandchildren shouldn't have any impact on the dates being displayed.

I'm not exactly sure if we want to only show the direct children/parents of an organization. If we do, we should open up this in another issue, it shouldn't be too difficult to solve.

[2017-02-20 16:35] sam-ffctn commented on #46
@tonysecurityforcemonitor @evz The only properties I'm displaying from the person are
`memberships`, `events` and `other_names`.

The requests I'm getting back seem to always have the `memberships` and `events` properties empty.

ex: https://sfm.datamade.us/api/people/965a000c-049b-4d9c-974f-9cca4e868286/

[2017-02-20 16:50] tonysecurityforcemonitor commented on #39
@sam-ffctn - I thinking only showing direct children/parents in the dossier would make the dates a bit clearer in my mind so let's do that - I'll create a separate issue for that.

[2017-02-20 16:51] tonysecurityforcemonitor opened #47 "Dossiers - Only Display Direct Child/Parents"
@sam-ffctn - creating an issue as discussed in #39

[2017-02-20 16:51] tonysecurityforcemonitor commented on #46
@evz Can you take a look at this?

[2017-02-20 16:54] tonysecurityforcemonitor opened #48 "Create Summary text for Mexico and peacekeeping countries"
To do for Tony

[2017-02-20 19:07] sam-ffctn commented on #47
@tonysecurityforcemonitor only immediate relatives should now show in the dossier and mini dossier

ex: http://ffctn.com/clients/on/sfm/M21/#country/ng/o/358c956b-29ca-4dc4-b1ff-847d040d0fbc!date=2014-01-01&focus=chart

[2017-02-20 19:14] tonysecurityforcemonitor commented on #47
Great!

[2017-02-20 19:14] #47 closed

[2017-02-21 22:29] evz commented on #46
@tonysecurityforcemonitor I figured out why `memberships` is always blank (fix incoming) but the reason why `events` is always blank is because it's always blank in the spreadsheet. The "Perpetrator Name" column is always blank.

[2017-02-21 22:32] evz commented on #46
(By the way, I just deployed the fix for the `memberships` property)

[2017-02-22 14:46] tonysecurityforcemonitor commented on #46
Great thanks @evz ! I'll tackle Events in a separate Issue

[2017-02-22 14:46] #46 closed

[2017-02-22 14:56] tonysecurityforcemonitor opened #49 "Events - displaying Alleged Perpetrator Classification"
So I somehow missed this - but is it possible to add the Alleged Perpetrator Classification field for Events?

@evz this is Column N in the Events tab in the Import Master Sheet.

@sam-ffctn - I was thinking that it could look like this:

I realize this is very late in the game to raise this - so if it throws off work on other Issues let's table it.

![image](https://cloud.githubusercontent.com/as

[2017-02-22 15:00] tonysecurityforcemonitor commented on #45
@evz It looks like the relevant data is in the CMS so there should be Areas and Sites displaying on the Map from at least 2004 onwards...

[2017-02-22 17:31] evz commented on #45
OK, I'll check this out

[2017-02-22 19:33] tonysecurityforcemonitor commented on #43
Just following up on this one  - not sure where the issue lays @sam-ffctn @evz ...

[2017-02-22 19:34] tonysecurityforcemonitor commented on #42
@evz Let me know if there is anything that needs to be fixed on the data side of things with this - I suspect that could be part of the problem.

[2017-02-22 19:34] evz commented on #45
So, it looks like I am inadvertently filtering out quite a few OSM nodes that are used in the Mexico data. This cascades into the organizations not showing up on the map because they don't have any geospatial data associated with them. I'm looking into that now.

[2017-02-22 19:35] tonysecurityforcemonitor commented on #39
@sam-ffctn Thanks for the fix on only showing direct children/parents - now the only thing remaining on this issue is displaying the ```date_first_cited``` and ```date_last_cited``` for parent/children

[2017-02-22 22:31] evz commented on #45
OK, this is getting a bit strange. I was able to get all the site data to match up but now I've only got 12 organizations that have sites and also have a division identifier for Mexico. Still trying to figure out where the problem lies.

[2017-02-23 15:15] evz commented on #45
Alright, I figured this out. I'll need to re-import the mexico data from OSM which will take a while.

[2017-02-23 15:17] tonysecurityforcemonitor commented on #45
Thanks for the update @evz glad its being sorted! Would it cause a problem for me to update the Master Import Sheet? There have been a number of updates and I'd be interested to see how they look in the UI.

[2017-02-23 15:18] evz commented on #45
Nope. Have at it.

[2017-02-23 15:55] sam-ffctn commented on #43
@tonysecurityforcemonitor I display all the area data I get from the API, If there is missing some additional data than I think the ball lies in @evz's court.

[2017-02-23 18:19] tonysecurityforcemonitor commented on #45
@evz - I've updated the Master Import Sheet

[2017-02-23 18:57] sam-ffctn commented on #39
@tonysecurityforcemonitor @evz I'm waiting for the API include those values, as I mentioned above.

ex: https://sfm.datamade.us/api/organizations/eda35997-21d0-4d53-a923-e9984c76afd0/
These are in the api documentation: https://github.com/security-force-monitor/sfm-proxy/blob/master/docs/organizations.md

[2017-02-24 14:57] jsmoak commented on #45
@evz @tonysecurityforcemonitor how is the data re-import coming along?

[2017-02-24 15:56] tonysecurityforcemonitor commented on #45
@jsmoak - I see that the updated Mexico and Nigeria data have gotten into the system - there is still an issue of Areas not displaying, but I think this is due to the re-import of the OSM data, right @evz?

[2017-02-24 15:58] tonysecurityforcemonitor opened #50 "Chart - not displaying properly?"
The Chart function isn't really working anymore - chart lines of command not lining up properly, organizations "floating" unconnected anything, etc.

Did perhaps something change in the API that effected this @evz?

[2017-02-26 18:39] tonysecurityforcemonitor commented on #50
this seems to be working again

[2017-02-26 18:39] #50 closed

[2017-02-27 15:06] tonysecurityforcemonitor opened #51 "Map - Areas not displaying when filtered"
@evz - it looks like different areas are not being rendered on the map when I filter down to different organization classifications - for instance http://ffctn.com/clients/on/sfm/M21/#country/ng!date=2014-01-01&focus=map&classifications=Army - there should be a number of areas displayed for the various Divisions, Brigades and Battalions that aren't being displayed... are they being loaded through

[2017-03-01 16:01] evz commented on #42
@tonysecurityforcemonitor So, I've managed to get the UN missions in Congo to show up when you put in a date that makes sense:

Stabilization mission: https://sfm.datamade.us/api/countries/cd/map/?tolerance=0.01&at=2014-01-01
Earlier mission https://sfm.datamade.us/api/countries/cd/map/?tolerance=0.01&at=2010-01-01

However, the country map view replies on the organization having a Site. If there'

[2017-03-01 16:07] evz commented on #36
@tonysecurityforcemonitor I'm pretty sure this is fixed now.

[2017-03-01 16:16] evz commented on #39
OK, `date_first_cited` and `date_last_cited` should be available for parents and children

[2017-03-01 16:59] tonysecurityforcemonitor commented on #36
Most of this is fixed @evz but there are a few outstanding issues - I've copied from Sam's note above the sections that still need work:

Affiliated Persons

unconventional formatting for confidence using ie. "1" instead of "low".

Area of Operations

No source or confidence property in areas.properties

Headquarters (Site)

No source or confidence property in sites.properties

Other Affiliations

[2017-03-01 17:00] tonysecurityforcemonitor commented on #39
Yep this is working

[2017-03-01 17:00] #39 closed

[2017-03-01 17:10] tonysecurityforcemonitor commented on #42
@evz Ok that's helpful to know. I can get Sites for the UN missions in Liberia and Sierra Leone, rows 652 and 653 might be more tricky (but worst case I'll just remove them from the data sheet). I'll fix this with the next update to the Master Import Sheet later this week.

[2017-03-01 17:10] #42 closed

[2017-03-01 17:21] tonysecurityforcemonitor opened #52 "Classification not loading for Search results?"
@sam-ffctn - when conducting a search all of the results displayed have unknown classification - but we're still able to sort the organizations by their classification - for example searching for Kaduna State results in:

![image](https://cloud.githubusercontent.com/assets/18744855/23472022/75266c7e-fe79-11e6-8ce4-c43dd720c268.png)

As you can see on the right the classifications for both organiza

[2017-03-01 17:31] evz commented on #43
@tonysecurityforcemonitor So .... it looks like part of the problem with not showing all the areas is that I am using the date for the Site to do the initial filtering. That means if the organization was at a given site on the date, it'll return that but we're not checking if they were in a given area on the date. Should I check both? It's just a matter of adding an `OR` condition on the end of th

[2017-03-01 17:35] evz commented on #51
Related to this: https://github.com/security-force-monitor/sfm-ui/issues/43#issuecomment-283410578

[2017-03-01 17:43] evz commented on #45
Yeah, I had make sure that we were not filtering out some of the OSM nodes that we are relying on for those orgs when importing the OSM data. It looks like we are getting quite a few more to display now:

http://ffctn.com/clients/on/sfm/M20/#country/mx!date=2014-01-01&focus=map

[2017-03-01 17:48] tonysecurityforcemonitor commented on #43
@evz Yes please add an OR -- there isn't always a neat match between a Site and Area (the normalization issue grows even more complex!) so I think having an OR should adjust for that.

[2017-03-01 17:49] tonysecurityforcemonitor commented on #45
@evz Yep I see a lot more Nodes loading - as far as the Areas I suspect when we add that OR conditionality as noted in #43 we should be seeing more areas as well, right?

[2017-03-01 18:10] evz commented on #43
OK, I added the `OR` to the end of that query. It still looks like filtering by "Army" is not covering the entire country but, upon inspection, it's only returning 30 unique areas of operation (for 43 organizations) when you are looking at January 1, 2014. I'm not sure if that is what you expect but comparing that to the "Police" filter where you get 108 organizations in 76 unique areas makes me t

[2017-03-01 18:19] tonysecurityforcemonitor commented on #43
@evz Hmmm that's strange - for instance the 1 Mechanized Division should have an Area that covers several states from about 2000 onwards. I just cleaned the Master Import Sheet - there were some issues with dates due to Google Sheets formatting years like 2012 into 7/12/1905. Perhaps reloading the data will fix this issue? The Army should have the entire map covered from at least 2008 onwards.

[2017-03-01 19:34] evz commented on #43
Oh, so what you're saying is that an organization's area of operations for a given date is the union of all the area shapes that are valid areas of operation for that date? So, in the case of the 1 Mechanized Division, it should be everything in the areas of operation list on their detail page (since all of those areas don't have an end date)?

If that is the case, I can certainly implement that k

[2017-03-01 19:35] evz commented on #43
Oh, so, with that in mind, what is an organization's current site? Should there only ever be one on a given date?

[2017-03-01 19:37] tonysecurityforcemonitor commented on #43
An organization can have multiple Sites on the same date

[2017-03-01 19:50] tonysecurityforcemonitor commented on #43
I see the Area as more of a list - so with the tooltip we have each Area seperated by a comma idealy. This is because Areas can be non-contigious and also change over time.

Displaying Area on the map doesn't seem to working as I'd expect.

On the map on 1 Jan 2014 the only Area displayed for the 1 Mechanized Division Area is Bauchi - but the Division also has Jigawa, Kaduna, and other Areas which

[2017-03-01 21:04] evz commented on #43
So, @sam-ffctn it seems like, in light of what @tonysecurityforcemonitor is talking about above, the right thing to do would be to switch the `area_current` and `site_current` portions of those responses to lists of objects. I was trying to figure out how to do it by just aggregating the geographies into one MultiPolygon (or Multipoint) but the problem is that we then lose the ability to be able t

[2017-03-01 21:09] evz commented on #43
Oh, that'll also effect the `/countries/:id/search/organizations/` endpoint.

[2017-03-01 21:12] evz commented on #52
So, the classification here is the organization classification, right? That's typically a list. Which one should show up? Or is the idea to show all of them?

[2017-03-01 21:13] tonysecurityforcemonitor commented on #52
@evz Yep sorry - this is the organization classification - the idea would be to show them all

[2017-03-01 21:13] evz commented on #52
(anyways @sam-ffctn , I can add that to the search response, if it makes it easier)

[2017-03-02 14:57] evz commented on #52
@tonysecurityforcemonitor @sam-ffctn The classifications for organizations should now be included in the search response

[2017-03-02 15:00] evz commented on #45
@tonysecurityforcemonitor I think once we get #43 sorted out, this will be looking a lot better.

[2017-03-02 15:07] tonysecurityforcemonitor commented on #52
Yep this is working

[2017-03-02 15:07] #52 closed

[2017-03-02 15:25] evz commented on #44
@tonysecurityforcemonitor @tlongers I'm not sure where we are at with this and whether or not this is something we want to have ready for the launch coming up. I'm not sure how versed either of you are in SQL but if you check out the files in [this folder](https://github.com/security-force-monitor/sfm-cms/tree/master/sfm_pc/management/commands/sql), you can get an idea of how the extremely normali

[2017-03-02 15:32] sam-ffctn commented on #43
@tonysecurityforcemonitor @evz The easier solution for me would be to union all the geometry and provide a concatenated string for all the names of the areas. I don't think we really need to differentiate between the different areas, since we would want to highlight/select all the areas of an organization simultaneously, never individually.

[2017-03-02 15:38] evz commented on #43
@sam-ffctn That sounds good. There are a couple kinds of unions that I could do. One will physically combine all of the shapes into one shape. This can be somewhat computationally expensive and would erase the boundaries in between shapes if they physically touch one another. Another option would be to just offer a kind of collection of all the shapes (or points) that preserves the boundaries betw

[2017-03-02 15:40] tonysecurityforcemonitor commented on #43
@evz I don't have an informed preference - I think having shapes be less resource intensive for the app is always a good thing.

[2017-03-02 15:41] evz commented on #43
OK, I'll try the "collection" method first and we'll go from there.

[2017-03-02 15:43] sam-ffctn commented on #49
@tonysecurityforcemonitor @evz this isn't too difficult of a change for me, the only potential issue is that the `perpetrator_organization.classification` is a string and not an array.

ex: https://sfm.datamade.us/api/events/8a4e1795-69a2-45d6-9e38-76a449d1f295/

I can implement it either way

[2017-03-02 16:30] tlongers commented on #44
Thanks for reinvigorating this thread @evz

To get some data _into_ the CMS import format, I've been using sqlite's ```GROUP_CONCAT``` to bung multiple source citations into single cell.  But a separate table is more legible in the context of a download. Is ```oons.source_id``` unique ID or would each download have a set of indexes created specific to that download?

Generally, though, I suggest i

[2017-03-02 16:34] tonysecurityforcemonitor commented on #49
@sam-ffctn Great! @evz not sure about the string versus array issue I'll leave that to you and Sam

[2017-03-02 16:38] tonysecurityforcemonitor commented on #44
Yes let's ice it for now - it's more important to get the platform ready for launch than to commit time to this.

I think this is a really good question for @tlongers and I to farm out to particular users post launch. I suspect the number of users that do want to play around with csvs is quite small, but also quite expert, so it would be good to spend a bit of time in dialogue with them.

[2017-03-02 16:53] evz commented on #44
@tlongers Yeah, those `source_id` columns are unique for the source table so it would be possible right now to have a single "sources" file that would relate to whatever else was downloaded.

I mean, the API _is technically_ public right now. It's just undocumented and somewhat specific to the use case of powering that particular UI.

I'm OK with icing this and I like the idea of getting user feed

[2017-03-02 16:57] evz commented on #43
@sam-ffctn I just pushed up a change that implements that "collection" approach. Let me know how that works.

[2017-03-02 17:23] evz commented on #49
OK, this should be ready to go: https://sfm.datamade.us/api/events/be961486-8ed7-4de7-b3db-8972b8384f51/

As an aside, I'm also aggregating the "other_names" for the perpetrator organizations into a list (which was formerly called "alias" and just showed one)

[2017-03-02 18:30] tonysecurityforcemonitor commented on #49
@evz Sorry -question here - how is this going to be used?

[2017-03-02 18:53] evz commented on #49
Oh, uh, maybe it's not? I guess it just comes for free and I mentioned that because it changed.

[2017-03-02 19:04] tonysecurityforcemonitor commented on #49
@evz ok - thanks!

[2017-03-03 16:32] sam-ffctn commented on #43
@tonysecurityforcemonitor @evz It was a bit more painful than I thought it would be to fix the map for the new collections, but it's working now.

http://ffctn.com/clients/on/sfm/M22/#country/ng!date=2014-01-01

[2017-03-03 16:34] sam-ffctn commented on #45
@tonysecurityforcemonitor mexico does seem to be looking a lot better now. with the fix from #43

http://ffctn.com/clients/on/sfm/M22/#country/mx!date=2014-01-01&focus=map

[2017-03-03 16:47] tonysecurityforcemonitor commented on #45
@evz - there should be Area data to cover the entire map of Mexico... my understanding is the map will display an area even if an organization does not have a Site. @sam-ffctn is that true?

[2017-03-03 16:48] tonysecurityforcemonitor commented on #43
Sorry for the pain @sam-ffctn - but the tooltip is working as expected!

[2017-03-03 16:48] #43 closed

[2017-03-03 16:48] sam-ffctn commented on #49
@tonysecurityforcemonitor I added the field as you requested.

ex: http://ffctn.com/clients/on/sfm/M22/#country/ng/e/8a4e1795-69a2-45d6-9e38-76a449d1f295!date=2014-01-01&focus=map

[2017-03-03 16:52] sam-ffctn commented on #45
@tonysecurityforcemonitor The map will show all the areas and sites/installations of the organizations in that country for a given point in time.

If an part of the map is not covered that means that no organization has an area over that part of the map.

[2017-03-03 16:52] tonysecurityforcemonitor commented on #49
@sam-ffctn This is great! Quick clarification question on the nearby organizations (2km) - is that based on the Organization's Site or Area - or are both including in making that calculation? And how does time enter into that calculation - is it the Site and/or Area as of the date(s) of the event - or is there a range before/after the event?

Sorry I know we discussed this a bit back, but I can't

[2017-03-03 16:56] sam-ffctn commented on #49
@tonysecurityforcemonitor @evz that question is for Eric, I only get the list provided by the API and I display that, I don't do any of the calculations.

ex: For this event endpoint https://sfm.datamade.us/api/events/8a4e1795-69a2-45d6-9e38-76a449d1f295/
the nearby organizations are under `organizations_nearby`

[2017-03-03 16:57] sam-ffctn commented on #51
@tonysecurityforcemonitor I think this issue should be fixed since #43 is solved

[2017-03-03 16:57] tonysecurityforcemonitor commented on #45
Thanks @sam-ffctn - @evz there seems to be an API issue then in both Nigeria and Mexico as the sum of all the Areas for organizations with the classification of Army should cover the entire map, but don't seem to be. The issue is also apparent in other classifications as well.

[2017-03-03 17:12] tonysecurityforcemonitor opened #53 "N/A under Organization Name"
@sam-ffctn - I think we removed this in a previous version - I believe it was supposed to be something that was never implemented...

[2017-03-03 18:12] sam-ffctn commented on #53
@tonysecurityforcemonitor I fixed this to what it should have been the `root_name` as it is in the mini-dossier

[2017-03-03 18:48] tonysecurityforcemonitor commented on #53
@sam-ffctn - ok thanks

[2017-03-03 18:48] #53 closed

[2017-03-03 18:58] tonysecurityforcemonitor opened #54 "MiniDossier/Full Dossier - Area not displaying properly"
@sam-ffctn @evz - The Area of Operations is not now displaying properly in the mini dossier/full dossier. Area is listed as N/A and the dates are also not correct...

[2017-03-03 18:59] tonysecurityforcemonitor commented on #51
Closing this as the discussion has been moved to #45

[2017-03-03 18:59] #51 closed

[2017-03-06 14:18] tonysecurityforcemonitor commented on #36
Hi @evz just checked the newest version and this is still an outstanding issue - see the comment above for the list of issues.

[2017-03-06 14:26] tonysecurityforcemonitor commented on #45
Hi @evz  just checked on this for the newest version - this is still and issue. For Nigeria for instance the 2 Mechanised Division should be displaying on the Map, but isn't, for Mexico many organizations are missing including 33 Zona Militar and 32 Zona Militar.

[2017-03-06 15:02] evz commented on #36
@tonysecurityforcemonitor I just deployed some changes that should address these last few things.

[2017-03-06 17:06] tonysecurityforcemonitor commented on #36
@evz - great the only outstanding issues here are:

Area of Operations

No source or confidence property in areas.properties

Headquarters (Site)

No source or confidence property in sites.properties

This might be tied to #54

[2017-03-06 17:20] evz commented on #36
@sam-ffctn I hate to punt this but I added the properties that @tonysecurityforcemonitor mentions above to the API response. Is there some modifications to the client side that need to happen to get those to display?

[2017-03-06 18:50] sam-ffctn commented on #36
@tonysecurityforcemonitor @evz yup I had to update the frontend, should work now.

ex: http://ffctn.com/clients/on/sfm/M23/#country/ng/o/14d9a9a9-95bc-40e9-ac90-7bd3f06c81cf!date=2014-01-01&focus=map&overlay=organization-dossier

[2017-03-06 18:59] tonysecurityforcemonitor commented on #36
@sam-ffctn @evz - there is an issue with the Area - right now it is only displaying one confidence score and one source - whereas there are different sources for each Area and different confidence scores - http://ffctn.com/clients/on/sfm/M23/#country/ng/o/4a4045b6-4bcb-441a-832a-498085bd2516!date=2014-01-01&focus=map&classifications=Army&overlay=organization-dossier

@evz - I think this might be b

[2017-03-06 18:59] sam-ffctn commented on #54
@tonysecurityforcemonitor @evz this issue should now be solved, Although I noticed that some of the area of Operation dates are a bit weird.

ex: http://localhost:8001/index.paml#country/ng/o/0de5e37d-5819-475b-8810-eb482de30c38!date=2014-01-01&focus=map&overlay=organization-dossier
api endpoint: https://sfm.datamade.us/api/organizations/0de5e37d-5819-475b-8810-eb482de30c38/
first_cited is `2002-0

[2017-03-06 19:03] tonysecurityforcemonitor commented on #54
Thanks @sam-ffctn - yes there seems to be something going on with the dates, confidence scores and sources. I made a comment in #36 and I think the two are interrelated. I'm going to close this issue so we just have the one thread going.

[2017-03-06 19:03] #54 closed

[2017-03-06 21:19] tonysecurityforcemonitor opened #55 "Map Filter Classifications"
@sam-ffctn - Can the Filter function on the map be made to only display the Organization Classifications which are present in that country (tied to the ```division_id```)? Right now the Nigeria Map has classifications that are only used in Mexico (Ejercito, Militar, etc.). Conversely it would be good for the Mexico Map to only have classifications that are present in Mexico (it appears to be that

[2017-03-07 16:36] jsmoak commented on #48
@tonysecurityforcemonitor hi Tony, do you have an ETA on the summary text?  We would like to go ahead and get that integrated this week.

[2017-03-07 19:02] tonysecurityforcemonitor commented on #48
Thanks for checking in @jsmoak and perfect timing, I've just done a first draft of Mexico. I'll have everything ready to go by Friday.

[2017-03-07 19:06] tonysecurityforcemonitor commented on #36
Sorry @evz I didn't include enough context in my comment above - I was referring to our discussion:

[2017-03-07 19:25] evz commented on #36
@tonysecurityforcemonitor I can certainly provide the data in a way that makes those pieces of information distinct. I think we'd need to talk through what that might look like with @sam-ffctn so that it's usable for him.

[2017-03-07 19:46] evz commented on #45
@tonysecurityforcemonitor I'm trying to figure out what's going on here but I can't seem to be able to find 33 Zona Militar or 32 Zona Militar in the Master Import sheet.

[2017-03-07 19:48] evz commented on #45
Oooohhhh, I see what's happening. We have people that are associated with those orgs so they get created when we create the people. But, since they are not in the org sheet, we don't have any geospatial data about them.

[2017-03-07 19:51] tonysecurityforcemonitor commented on #45
@evz - sorry ignore about 33 Zona Militar or 32 Zona Militar - but the 2 Mechanised Division is in there.

[2017-03-07 20:03] evz commented on #45
Huh, OK, now I'm seeing the 2 Mechanised division on the map:

![screenshot from 2017-03-07 14 02 20](https://cloud.githubusercontent.com/assets/551491/23675355/ba03c23c-033e-11e7-934f-4f66bdeeb2c5.png)

http://ffctn.com/clients/on/sfm/M22/#country/ng!date=2014-01-01&focus=map

Maybe @sam-ffctn made an update?

[2017-03-07 20:09] evz commented on #49
@tonysecurityforcemonitor The radius I'm using is 35km and it is from the Organization's Site. That figure came from [this discussion](https://github.com/security-force-monitor/sfm-proxy/issues/36#issuecomment-256769617). There is no time box placed on that query right now. It seems like that would make sense, though. I'll work on making that happen.

[2017-03-07 20:11] evz commented on #49
Also let me know if you'd like me to also query within a certain radius of an organization's area.

[2017-03-07 20:11] tonysecurityforcemonitor commented on #45
@evz Hmmm - but then the 82 Division should be showing up when I filter down to Army over Taraba, Benue, and Ebonyi states - and the 81 Division should be showing up over Lagos and Ogun states...

@sam-ffctn Is this due a filtering issue? Does the Map reload based on the Filter selection? If so, I'd expect those organizations to be displayed on the map as those Areas are the "smallest" and thus wo

[2017-03-07 20:17] tonysecurityforcemonitor commented on #49
@evz ah - thanks for the link! A time box and a query withing a certain radius of an area all makes sense to have (and would be a good query for users). If it's a lot of work let's put it off (as it is it demonstrates the idea quite nicely), if it's not too much work let's do the time box of 1 month +/- the start/end dates of an event, and for the radius let's say 35km just to keep it consistent.

[2017-03-07 21:06] evz commented on #49
One caveat to including the buffer for the area of operations is that the organizations that have areas of operation that cover the entire country will always show up in the results. I'm not sure if that's the desired behavior.

[2017-03-07 21:07] tonysecurityforcemonitor commented on #49
@evz - ah good point... hmmm I think that's ok.

[2017-03-07 21:19] evz commented on #49
OK, with that in mind, I just deployed a change that should include organizations that had as their Site or Area of operations a place that was within 35km and +/- 30 days of each individual event.

[2017-03-07 21:26] tonysecurityforcemonitor commented on #49
@evz - now there seems to be an issue on the data side of things - for instance http://ffctn.com/clients/on/sfm/M23/#country/ng/e/faf60e67-9e15-46d6-b846-037d88b6f02f!date=2014-01-01&focus=map --- should have Alleged Perpetrator (Organization Classification) of Military (it's currently Unknown) --- the location should also be Jos - Plateau (it's currently N/A - Plateau)

[2017-03-07 21:30] evz commented on #49
@tonysecurityforcemonitor That property exists in the response that is coming from the API. It is a list so @sam-ffctn might need to make a change to accommodate that on the client side.

[2017-03-07 21:30] evz commented on #49
So, for instance, this is the response for the event you pointed out above:

https://sfm.datamade.us/api/events/faf60e67-9e15-46d6-b846-037d88b6f02f/

[2017-03-08 13:02] tlongers opened #56 "Very cluttered pop-up for Area of Responsibility"
Pop-ups for Areas of Operation appear when the mouse is hovered over them. Most of the time, they provide useful summary information.

However, they can become too large and cluttered where the Area of Operation is the aggregate of a large number of small geographical areas. As an extreme example, [hover the mouse over the Area of Responsibility for 44 Zona Militar at 2014-01-01](http://ffctn.com/

[2017-03-09 16:34] tonysecurityforcemonitor commented on #56
I like this idea @tlongers - @sam-ffctn, truncating at 7 would account for this, there are a couple examples in Mexico that will produce massive (100+) lists. This might also be related to how Areas are handled overall in #45.

[2017-03-09 16:35] tonysecurityforcemonitor commented on #55
Let me know if we can knock this out @sam-ffctn - I'm in the process of cleaning the Mexico data for a major update and it would be good to know how to handle the classifications in the Mexico data.

[2017-03-09 16:37] tonysecurityforcemonitor commented on #49
Let me know about this one @sam-ffctn - if we need to adjust the data so there are only Events with a clear Site (rather than just admin_1 data) let me know and I'll make changes. Would that effect anything on the calculations side of things @evz ?

[2017-03-09 16:39] tonysecurityforcemonitor commented on #45
@sam-ffctn - let me know if there are any questions on this - especially if there are issues on the data side of things.

[2017-03-09 19:00] evz commented on #49
@tonysecurityforcemonitor Nope.

[2017-03-09 19:01] tonysecurityforcemonitor commented on #49
Thanks @evz !

[2017-03-09 20:05] evz commented on #45
@tonysecurityforcemonitor The reason 81 Division is not showing up on the map is because the two OSM IDs for those areas that are in the spreadsheet are not accurate. The reason why only Enugu is showing up for 82 division is because that's the only area that organization has for that date (2014-01-01). These are the other areas we have for 82 division along with first and last cited dates:

[code

[2017-03-09 20:15] sam-ffctn commented on #56
@tonysecurityforcemonitor @tlongers

I've updated the tooltip to behave as described above:

http://ffctn.com/clients/on/sfm/M24/#country/mx/o/66b70cef-14ba-4c14-9d6d-d79580f7be4e!date=2014-01-01&focus=map

[2017-03-09 20:19] tlongers commented on #56
Great @sam-ffctn nice work. Small labelling fix needed: where there are 8 areas, and 7 are listed in full with single remainder, the wording should say "1 other" and not "1 others". See:
http://ffctn.com/clients/on/sfm/M24/#country/mx/o/4d5d6eb0-0b9a-4a97-bf26-c223fc56c4ae!date=2014-01-01&focus=map

[2017-03-09 20:32] sam-ffctn commented on #56
@tlongers this is now fixed,

If you have 8 areas it will shown them all, if you have 9 it will show 7 + 2 others.
http://ffctn.com/clients/on/sfm/M24/#country/mx/o/4d5d6eb0-0b9a-4a97-bf26-c223fc56c4ae!date=2014-01-01&focus=map

[2017-03-09 20:46] sam-ffctn commented on #55
@tonysecurityforcemonitor @evz  this is an api issue.
For some reason these organizations:
https://sfm.datamade.us/api/organizations/26d9ad2a-bade-4ed0-8f5e-962c1ac8d439/
https://sfm.datamade.us/api/organizations/c7d32faa-dd75-4d80-92ac-b68795a56fdf/

Are listed under nigeria, but are actually in mexico:
You can find them under the Nigeria map endpoint:
https://sfm.datamade.us/api/countries/ng/map

[2017-03-09 20:49] evz commented on #55
@sam-ffctn Oh, let me look into that. Thanks for pointing it out.

[2017-03-09 21:05] sam-ffctn commented on #36
@tonysecurityforcemonitor @evz It would be better to keep the areas separate (as it was before) for the **/organizations/:id** requests (we need to keep areas aggregated for the map requests).

I don't believe I use the `geometry` property anywhere for the **/organizations/:id** requests if that helps.

I think `sites` still behaves like this (doesn't aggregate them).

Once that is done the areas

[2017-03-09 21:20] sam-ffctn commented on #49
@tonysecurityforcemonitor @evz

Originally I did not have the `perpetrator_classification` property in the API, I was merging the classifications of each organization. It's nice to have this property now, but I notice that we don't have any organizations tied to the event (from example above):
https://sfm.datamade.us/api/events/faf60e67-9e15-46d6-b846-037d88b6f02f/
How can we then determine that t

[2017-03-09 21:28] sam-ffctn commented on #45
@tonysecurityforcemonitor @evz The filter simply hides/shows the organizations based on if the organizations `classification` property is included one of the selected classifications. (I match the strings).
 I don't think the filter is the issue.

[2017-03-10 08:37] tlongers opened #57 "Pop-up tooltips appear over event dossiers, rather than over map canvas"
If an event tooltip is displayed by hovering over its entry in the time slider, and the map location of that event is obscured by the Dossier window, the tooltip will display over the dossier. This can be seen [here](http://ffctn.com/clients/on/sfm/M24/#country/ng/o/8818873f-dd42-4380-b6aa-0f241000f38a!date=2014-01-01&focus=map) when hovering over Event 43 in the time slider:

![ffctn_com_clients_

[2017-03-10 08:41] tlongers commented on #56
Elegant! Thanks @sam-ffctn
Closing.

[2017-03-10 08:41] #56 closed

[2017-03-10 14:58] tonysecurityforcemonitor commented on #57
Thanks for the catch @tlongers - can you take a look @sam-ffctn?

[2017-03-10 15:00] tonysecurityforcemonitor commented on #55
Ah ok that's really helpful to know @sam-ffctn - makes my data cleaning much easier.

[2017-03-10 15:07] tonysecurityforcemonitor commented on #49
@evz - On the data side of things we make this determination based on column N in the Master Import.  The bigger question your asking is actually a methodological one - classifications exist, in part, to give greater context to events like this (where no specific organization is identified) and connect those events to the Monitor's data on organizations. By analyzing the alleged event the perpetra

[2017-03-10 15:09] tonysecurityforcemonitor commented on #49
@evz I just checked the link above - the classification is now displaying and the location is fixed - but I don't see the nearby organizations loading...

[2017-03-10 15:17] tonysecurityforcemonitor commented on #45
@evz Ah ok I think I see what the issue is - for the 82 Division all of those Areas have ```Y``` in Column BD Assume Area of Operations to Current Date? (Y/N) --- so I'd expect them to continue to be displayed on any date after 2012-02-16. When there is ```N``` in that column then I'd expect the Area would not continue to be displayed after whatever the date is.

[2017-03-10 18:02] tlongers opened #58 "Time slider - date display dual use as date picker?"
At some point there was an idea that there should be a date entry box as a complement to the time slider.

![ffctn_com_clients_on_sfm_m24__country_ng_o_0b223735-ccb8-4fde-82ec-bb27b2b7ad25_date_2011-04-16_focus_map](https://cloud.githubusercontent.com/assets/2115933/23806953/a64cd772-05bb-11e7-91ed-a120387a48fb.png)

Is this still of interest for this cut? @tonysecurityforcemonitor

[2017-03-10 21:28] tonysecurityforcemonitor commented on #58
@tlongers I think we'll put this on ice for right now --- but putting to users how to interact with time throughout the Monitor is a very good question.

[2017-03-10 21:28] #58 closed

[2017-03-13 15:31] tonysecurityforcemonitor commented on #55
Hi @evz - I was planning to do an update to the Master Import Sheet sometime soon - let me know if I should hold off while you're investigating this issue.

[2017-03-13 16:07] evz commented on #55
I think I figured this out but I'll need to refresh things anyways so, go ahead and update and I'll just do it all at once after that.

[2017-03-13 17:26] #48 closed

[2017-03-13 18:19] evz commented on #45
@tonysecurityforcemonitor Oh, OK. The way it works currently is it only looks at the current date info if there is no last cited date. I'll make that adjustment.

[2017-03-13 18:27] evz commented on #36
[code]

plus static sites:

[code]

[2017-03-13 18:29] evz commented on #36
Woops, sorry about the earlier comment. Totally pasted that in the wrong thread!

[2017-03-13 18:56] evz commented on #45
@tonysecurityforcemonitor If a last cited date is null, how should that be treated? Should we ignore these areas or should we always include them? The way the current logic is setup it checks where (the first cited date is greater than the date given) AND (the last cited date is less than the given date OR assume operations to current date is true). (things in parentheses are evaluated together fi

[2017-03-13 19:03] evz commented on #49
I suspect the reason this is happening is related to what I talked about over here: https://github.com/security-force-monitor/sfm-ui/issues/45#issuecomment-286208206 If the last cited date is null for the area of an organization, how should it be treated?

[2017-03-13 19:16] evz commented on #49
Also, for [that event](http://ffctn.com/clients/on/sfm/M24/#country/ng/e/faf60e67-9e15-46d6-b846-037d88b6f02f!date=2014-01-01&focus=map) what organizations would you expect to show up?

[2017-03-13 19:19] tonysecurityforcemonitor commented on #45
@evz Sorry dumb question - the logic string is for when an Area should be displayed right? The greater than/less than is throwing me for a loop am thinking of dates in reverse (ie 1 June 2016 is less than 3 June 2016, so if user selects 3 June 2016 and assume operations to current date is true then the Area should display)...

I think your fix makes sense. But two questions:

1) If date first cite

[2017-03-13 19:29] tonysecurityforcemonitor commented on #49
@evz - I'd expect 3 Armoured Division, 3 Armoured Division Garrison, 82 Mechanised Battalion to show up since their Sites and/or Areas are within the km range for Events, the date ranges for their Sites fall within the +/- date range for Events, and they are classified as Military. I would not expect the Special Task Force to show up, even though it has a Military classification, since the date ra

[2017-03-13 19:38] sam-ffctn commented on #57
@tonysecurityforcemonitor @tlongers I've adjusted the layering order, the tooltips will now be hidden by the dossier.
ex: http://ffctn.com/clients/on/sfm/M25/#country/ng/o/8818873f-dd42-4380-b6aa-0f241000f38a!date=2014-01-01&focus=map

[2017-03-13 19:40] tonysecurityforcemonitor commented on #45
@evz - do we need to worry about if the end date is null? In my mind the true/false of the assume operations to current date is the more important factor...

I'm just going to write the logic as it makes sense to me (which doesn't mean it necessarily does make sense).

Logic is assuming:
1 June 2016 is LESS THAN 3 June 2016
3 June 2016 is GREATER THAN 1 June 2016

(first cited date is less than OR

[2017-03-13 19:50] tonysecurityforcemonitor commented on #57
@sam-ffctn - great thanks!

[2017-03-13 19:50] #57 closed

[2017-03-13 19:57] tonysecurityforcemonitor commented on #55
@evz - I haven't gotten as far into the data as I wanted to today, so I'm going to update Master Import tomorrow...

[2017-03-13 20:32] evz commented on #49
OK, so, the logic for this query worked out like this:

1. First, check for organizations within 35km of event that have the classification "military" in their list of classifications.
2. If there is a start and end date for the sites or areas for organizations that are within that radius, check if that date range overlaps with +/- date range for the event.
3. If there is a start date but no end d

[2017-03-13 20:39] tonysecurityforcemonitor commented on #49
@evz - I had small changes on points 3 and 5 - in bold are the tweaks as I see them - do they make sense?

3. If there is a start date but no end date for the sites or areas for organizations within that radius and the "assume area of operations to current" property is false, check to see if the start date is somewhere **between +/- 30 days from the start and/or end date of the event (or if it's t

[2017-03-13 20:46] sam-ffctn commented on #36
@evz I'm not sure what earlier comment you are talking about? Is it possible to structure it as I mentioned above?

[2017-03-13 20:52] evz commented on #45
OK, this all makes sense. I'll make the adjustments.

[2017-03-13 21:38] evz commented on #36
Yeah, it is.

The earlier comment I was talking about I deleted. It was something that I intended to past into a comment box on a completely different project and accidentally pasted here. You may have gotten an email notification about about it. If so, you can disregard it.

[2017-03-13 21:55] evz commented on #45
OK, I made the adjustments to the various queries here to make sure the logic should work. Let me know if it's returning what you'd expect.

[2017-03-13 21:55] evz commented on #49
This fix should should be in place. Let me know if it's returning what you expect.

[2017-03-13 21:56] evz commented on #36
This fix should be deployed. Let me know if it's doing what you expect.

[2017-03-13 21:57] evz commented on #55
OK. Let me know when you get that done and I'll re-run the import and that should resolve this issue.

[2017-03-14 00:46] tonysecurityforcemonitor commented on #36
@evz the Areas are now displaying with their respective sources and confidence scores --- but now the dates aren't displaying...

[2017-03-14 00:49] tonysecurityforcemonitor commented on #36
@evz - Sites as well don't have their dates attached...

[2017-03-14 00:56] tonysecurityforcemonitor commented on #45
@evz - great thanks - this is working as expected

[2017-03-14 00:56] #45 closed

[2017-03-14 01:42] tonysecurityforcemonitor commented on #49
@evz - great this is working as expected!

[2017-03-14 01:42] #49 closed

[2017-03-14 13:49] tonysecurityforcemonitor commented on #55
@evz I've updated the Master Import Sheet

[2017-03-14 14:04] sam-ffctn commented on #36
@tonysecurityforcemonitor @evz the date values changed names for some reason. `date_first_cited` became `date_first_cited_value`, etc.
I updated the front-end to reflect these new names.

http://ffctn.com/clients/on/sfm/M25/#country/ng/o/06d12698-f3d1-4b61-81bc-e657b9c5eae4!date=2014-01-01&focus=map

It's not very reassuring that the api will just change property names, it can cause unexpected beh

[2017-03-14 14:14] evz commented on #36
@sam-ffctn Oh shoot! Sorry about that. I must have overlooked that when I added the sources. I could change them back if you'd like.

[2017-03-14 14:29] sam-ffctn commented on #36
@evz ya probably best to do that. I'll undo my changes so they match up.

[2017-03-14 16:17] evz commented on #55
Dang, OK there's still something up with this. I re-ran the import and there are still organizations showing up with the wrong division ID. I'll dig a bit deeper ...

[2017-03-14 16:25] tonysecurityforcemonitor commented on #55
@evz There may have been a data issue - I rechecked everything and saw there were two entries missing division IDs for their area or their Site. You might reimport everything again and see if that helps...

[2017-03-14 16:35] evz commented on #55
Whew. OK, I think I figured it out. Amazing what a little pair of parentheses can cause ...

[2017-03-14 16:40] evz commented on #36
OK, I changed the date fields in the `areas` and `sites` properties to be `date_first_cited` and `date_last_cited`

[2017-03-14 17:43] sam-ffctn commented on #36
@evz @tonysecurityforcemonitor thanks it's working now

http://ffctn.com/clients/on/sfm/M25/#country/ng/o/4df27923-6644-4cdb-ad56-c31336eb614e!date=2014-01-01&focus=map&overlay=organization-dossier

[2017-03-14 17:54] tlongers commented on #44
Ok - closing for now.

[2017-03-14 17:54] #44 closed

[2017-03-14 18:07] tlongers opened #59 "Some praise - charts looking incredible"
Small break from the issues usually discussed  on this queue -  I'd like to say that this looks tremendous. Clean, superb work @sam-ffctn @evz

http://ffctn.com/clients/on/sfm/M25/#country/mx/o/97a29e56-7f77-4182-a6df-aed0c938e6b2!date=2014-01-01&focus=chart&perspective=organizations

![ffctn_com_clients_on_sfm_m25__country_mx_o_97a29e56-7f77-4182-a6df-aed0c938e6b2_date_2014-01-01_focus_chart_pers

[2017-03-14 18:20] sam-ffctn commented on #59
thanks :)

[2017-03-14 18:56] tonysecurityforcemonitor commented on #59
+1 on the praise!

[2017-03-14 19:07] tonysecurityforcemonitor commented on #36
Looks great!

[2017-03-14 19:07] #36 closed

[2017-03-14 19:13] evz opened #60 "Events endpoint busted"
Hey, it looks like I managed to bust the events API endpoint with my recent updates. I'm looking into it right now and hopefully will get a fix soon.

[2017-03-14 20:13] tonysecurityforcemonitor opened #61 "Re-run import and summary text for Sudan"
@evz - can you re-run the import? I realized I failed to update the Sudan peacekeeping mission.

@sam-ffctn - I'll send you summary text for Sudan right now as well.

[2017-03-14 21:05] evz commented on #60
OK, after some serious SQL-foo, this is resolved.

[2017-03-14 21:05] #60 closed

[2017-03-15 14:39] evz commented on #61
@tonysecurityforcemonitor I re-ran the import. It looks like I am missing OSM data for Sudan, though so nothing is showing up there. Ugh. I'll fix that and let you know when it's ready.

[2017-03-15 14:47] tonysecurityforcemonitor commented on #61
@evz - if it helps I think you may only need the data related to that entry itself and the country boundary for Sudan. I don't think there is any other Sudan related geodata in any of the entries...

[2017-03-15 16:04] evz commented on #61
OK, looks like Sudan is showing now. http://ffctn.com/clients/on/sfm/M25/#country/sd

[2017-03-15 17:44] tonysecurityforcemonitor commented on #61
thanks @evz !

[2017-03-15 17:44] #61 closed

[2017-03-15 17:55] tonysecurityforcemonitor opened #62 "Country name not displaying with country summary"
@sam-ffctn - the countries are showing a large N/A where their names should be in the country summary section --- for instance http://ffctn.com/clients/on/sfm/M25/#country/ng!date=2014-01-01

![image](https://cloud.githubusercontent.com/assets/18744855/23963266/0f119634-0987-11e7-9f3b-5476d91bd28b.png)

[2017-03-15 20:17] tonysecurityforcemonitor commented on #55
@evz so it looks like everything is working here --- I didn't know if the wrong division_id/parentheses dragon has been slain ;)

[2017-03-16 09:34] tlongers commented on #59
OK :) Closing the praise thread, but will re-activate it as needed.

[2017-03-16 09:34] #59 closed

[2017-03-16 13:20] evz commented on #55
Yeah, if it looks like it's working through the UI, then I'd say it's slain.

[2017-03-16 14:33] tonysecurityforcemonitor commented on #55
@evz excellent - thanks!

[2017-03-16 14:33] #55 closed

[2017-03-16 14:38] evz opened #63 "Nearby orgs radius inaccurate"
On the event detail page it says the nearby organizations are within 2km. The query being executed by the API is for 35km. Seems like this should be squared.

![event-detail](https://cloud.githubusercontent.com/assets/551491/24001444/26dc8882-0a2c-11e7-949c-8265a33e7b6a.png)

[2017-03-16 14:40] evz opened #64 "Nearby orgs on event detail all listed with unknown classification"
The classifications for the nearby organizations are missing. I should probably add them into the API response.

![event-detail](https://cloud.githubusercontent.com/assets/551491/24001538/649dbf24-0a2c-11e7-8205-01febbe2152b.png)

[2017-03-16 14:41] tonysecurityforcemonitor commented on #63
@evz - thanks for that catch

@sam-ffctn - can you change to 35 km?

[2017-03-16 14:41] tonysecurityforcemonitor commented on #64
@evz yes that would be great - thanks

[2017-03-16 14:49] sam-ffctn commented on #62
@tonysecurityforcemonitor @evz the names and alleged events count are retrieved from this api endpoint:
ex nigeria: https://sfm.datamade.us/api/countries/ng/

This endpoint returns an empty object for the other countries
ex: https://sfm.datamade.us/api/countries/lr/

[2017-03-16 14:58] sam-ffctn commented on #63
@tonysecurityforcemonitor @evz I updated the label

http://ffctn.com/clients/on/sfm/M26/#country/ng/e/f98dadee-7cfc-4f43-9414-b8f09b382a25!date=2014-01-01&focus=map

[2017-03-16 15:06] evz commented on #64
@sam-ffctn I added a list of classifications to each of the nearby organizations that are returned with an event detail. https://sfm.datamade.us/api/events/ffd546f7-cbe8-4d5b-bd47-3497a52ff886/

[2017-03-16 15:22] tonysecurityforcemonitor commented on #63
Thanks @sam-ffctn!

[2017-03-16 16:15] evz commented on #62
@sam-ffctn I'll take a look at what's going on there

[2017-03-16 19:52] evz commented on #62
OK, this is fixed. Sorry about that.

[2017-03-16 20:57] sam-ffctn commented on #64
@evz @tonysecurityforcemonitor its fixed

http://ffctn.com/clients/on/sfm/M26/#country/ng/e/58fc58ad-36d7-4774-b405-f746bffae9c0!date=2014-01-01&focus=map

[2017-03-16 21:04] tonysecurityforcemonitor commented on #64
@evz - there is an issue with the event above - it should be returning only organizations with a Police classification - but I don't see any in the list - they are all Army and/or Military

[2017-03-16 21:07] evz commented on #64
Oh, huh, I guess I took [this comment](https://github.com/security-force-monitor/sfm-ui/issues/49#issuecomment-286217220) too literally. How should I know what classification to use? Do I just use the perpetrator classification from the event table?

[2017-03-16 21:11] tonysecurityforcemonitor commented on #64
@evz - no prob - yes use the perpetrator classification(s) from the Event sheet for each event

[2017-03-16 21:12] tonysecurityforcemonitor commented on #62
Yep this is working well!

[2017-03-16 21:12] #62 closed

[2017-03-16 21:15] evz commented on #64
@tonysecurityforcemonitor OK, that appears to be working now.

[2017-03-16 21:26] tonysecurityforcemonitor commented on #64
Looks great!

[2017-03-16 21:26] #64 closed

[2017-03-16 21:30] tonysecurityforcemonitor opened #65 "Events - click through to organization's dossier"
@sam-ffctn @evz  - is it possible to make it so when a person or organization is named in an abuse the user can click through to that organization or person's dossier?

The only example that we can test on is this one: http://ffctn.com/clients/on/sfm/M26/#country/ng/e/f7249679-bb1e-4eaf-bba3-91c55e13c655!date=2014-01-01&focus=map

I'd like to make it so the user could click on the Joint Task Force

[2017-03-16 21:33] evz commented on #65
@sam-ffctn should be able to build a link. In the response that comes back about the event, there's a property called `perpetrator_organization` that includes that organization's id. So, the link could just leverage that.

[2017-03-18 08:46] tlongers opened #66 "Select and copy text on app is disabled"
Is some CSS property blocking the selection and copying of text? I'm on Chrome  56.0.2924.87 (64-bit.

@tonysecurityforcemonitor

[2017-03-20 13:57] tonysecurityforcemonitor commented on #66
I'm having the same issue too - is it possible to fix? @sam-ffctn

[2017-03-20 15:07] sam-ffctn commented on #66
@tonysecurityforcemonitor @tlongers I re-enabled user-selection. Most text should be selectable now.
We often disable user-selection it can sometimes cause weird behavior with draggable elements such as the map and chart. In our case it seems to be working fine.

http://ffctn.com/clients/on/sfm/M27/#country/ng!date=2014-01-01

[2017-03-20 15:08] sam-ffctn commented on #65
@tonysecurityforcemonitor Organizations and people are now clickable on the event

http://ffctn.com/clients/on/sfm/M27/#country/ng/e/f7249679-bb1e-4eaf-bba3-91c55e13c655!date=2014-01-01&focus=map

[2017-03-20 15:49] tonysecurityforcemonitor commented on #65
@sam-ffctn - this works great, thanks!

[2017-03-20 15:49] #65 closed

[2017-03-20 15:50] tonysecurityforcemonitor commented on #66
thanks @sam-ffctn !

[2017-03-20 15:50] #66 closed

[2017-03-20 20:33] tlongers opened #67 "Source anchors not working"
Should clicking the number of a source jump the page to the source as listed further down the page?

[2017-03-20 20:35] tonysecurityforcemonitor commented on #67
@tlongers they should - @sam-ffctn can you take a look - this was working before I believe...

[2017-03-20 20:43] tlongers opened #68 "Dead end on person dossier when selecting item in job history"
Starting here:

http://ffctn.com/clients/on/sfm/M27/#country/mx/o/953284a9-0961-475f-8a8b-66c01f9d53f8/p/953284a9-0961-475f-8a8b-66c01f9d53f8!date=2013-01-17&focus=chart&perspective=organizations

Select ```3 Zona Militar``` or ```13 Zona Militar``` in the mini-dossier. The app hangs for me.

[2017-03-20 20:47] tlongers opened #69 "Default time slider date"
The default date for the time slider is ```2014-01-01```. This is arbitrary. Could the default date on the time sliders be either:

*  the current date;
*  the last date the user was looking at before leaving the Monitor; or
*  the date of the last entry in the Monitor for whichever country the user is viewing.

@tonysecurityforcemonitor any thoughts? Or leave for now?

[2017-03-20 20:48] tonysecurityforcemonitor commented on #68
Hmm - I can't get it to load at all... @evz is there data issue here? @sam-ffctn can you also take a look?

[2017-03-20 20:51] tonysecurityforcemonitor commented on #69
@sam-ffctn can we set it to the current date? There are some rough data patches that setting to the current date will smooth over (as the user will have to dig to hit them, rather than being presented to them initially).  If setting to the current date is an issue, can we pick 2017-03-20 as the new arbitrary date? This will achieve the same ends.

[2017-03-20 21:04] tlongers opened #70 "Affiliated persons - how are they generated?"
What data do we expect to be in the Affiliated Persons section of an Organisation's mini-dossier?

Start here:

http://ffctn.com/clients/on/sfm/M27/#country/mx/o/5a9075d9-d00c-481d-9d5d-e0148fb05e6c!date=2013-04-09&focus=map

In this organisational record 7 persons are listed as affiliated with ```6 Zona Militar```, but no context is provided - organisation and location are blank.

![ffctn_com_cli

[2017-03-20 21:09] tlongers opened #71 "Source anchors in superior organisations section"
Related to #67. Start here:

http://ffctn.com/clients/on/sfm/M27/#country/mx/o/537cc6f6-bf53-45d5-9482-a4e70b25119b!date=2011-07-20&focus=map

Click on the source number ```44``` in the ```Superior Organisations``` section, which lists ```Estado Mayor de la Defensa Nacional```. Rather than do nothing, or jump to the footnote for source 44, clicking here will load the mini-dossier for ```Estado May

[2017-03-20 21:16] tlongers opened #72 "On activating search auto-focus on search box"
Place cursor in input area of  ```is-search-left``` so user can get typing.

[2017-03-20 21:21] tlongers opened #73 "Navigation to charts and maps from Person dossiers leaves user at dead end"
Start here at this person dossier:

http://ffctn.com/clients/on/sfm/M27/#country/mx/p/6c828e5a-b7a6-4fd8-8013-6493e8cd1a3a!date=2011-07-20&focus=map&overlay=person-dossier

What would we expect to happen when selecting ```Map``` or ```Chart```? For Map, I would expect them to show me the Area of Operation of the Organization commanded by that person at ```2011-07-20```. For ```Chart``` I would exp

[2017-03-20 21:23] tlongers opened #74 "Ordering of job history in Person dossiers"
e.g.

http://ffctn.com/clients/on/sfm/M27/#country/mx/p/6c828e5a-b7a6-4fd8-8013-6493e8cd1a3a!date=2011-07-20&focus=map&overlay=person-dossier

Should be date ordered, reverse chronological. Is something in the data preventing this occuring?

[2017-03-20 21:31] tlongers opened #75 "Maximum date in chart time slider in chart needs to be current date"
The time slider range isn't enough to display this date:

http://ffctn.com/clients/on/sfm/M27/#country/mx/o/44d09483-9fbe-4403-aab9-e7956cfbdffd!date=2016-12-12&focus=chart

Grabbing the slider and dragging leftwards has no effect.

[2017-03-20 22:07] tlongers opened #76 "Map view - Incomplete loading and clearing of organisation installations on date change"
Starting here:

http://ffctn.com/clients/on/sfm/M27/#country/mx/!date=1997-01-24&focus=map

We get this, showing 4 installations/sites for 6 organisations:

![ffctn_com_clients_on_sfm_m27__country_mx__date_1997-01-24_focus_map](https://cloud.githubusercontent.com/assets/2115933/24123598/11573a36-0db8-11e7-9b88-4ee3d70dca0d.png)

In the URL change ```1997``` to ```2014``` and we get this:

![ffctn_

[2017-03-20 22:27] tlongers opened #77 "Empty chart view when browsing to person mini-dossier"
Browsing directly here, I would expect this to show the person mini-dossier for ```Enrique Dena Salgado``` along with a chart for ```22 Zona Militar``` in which this person is noted as Commander:

http://ffctn.com/clients/on/sfm/M27/#country/mx/p/19e41830-724b-46a1-981c-f388c48df065!date=2016-05-12&focus=chart&perspective=organizations

It gives me a blank "Unknown Commander" chart. Manually selec

[2017-03-20 22:29] tlongers commented on #77
Related to #68.

[2017-03-20 23:08] tlongers opened #78 "Should chart retain zoom level and position when on switch between Orgs and Commanders?"
Start here:

http://ffctn.com/clients/on/sfm/M27/#country/ng/o/bd69a73d-a398-48b6-9add-cb029e2e6d97!date=2014-01-01&focus=chart&perspective=commanders

Zoom the chart out, then hit ```Organizations```. Chart is returned to original zoom level. First time I noticed it, I was surprised by the behaviour.  As I had scrolled elsewhere on the chart I also lost my place, which wasn't helpful.

Oddly, I l

[2017-03-20 23:58] tonysecurityforcemonitor commented on #77
@sam-ffctn - is this an UI issue?

[2017-03-21 00:00] tonysecurityforcemonitor commented on #76
@sam-ffctn - can you take a look at this?

[2017-03-21 00:02] tonysecurityforcemonitor commented on #75
@sam-ffctn - can you fix?

[2017-03-21 00:17] tonysecurityforcemonitor commented on #73
@tlongers - I have a different take on the ```Map``` - which does seem to be displaying the entire ```Map``` as of ```2011-07-20```

I see the issue with the ```Chart``` however, the problem is that we don't have any information on what ```organization``` this person was commanding or affiliated with as of ```2011-07-20``` --- hmmm we don't really communicate that clearly to the user however

@sam

[2017-03-21 00:25] tonysecurityforcemonitor commented on #72
@tlongers I think let's table this for now - especially in light of the other important issues you've added - since there is that seperation of Organizations, People or Events which comes about via the "click" - we can revisit how we help users narrow their searches (or if we do at all) later.

[2017-03-21 07:42] tlongers commented on #72
It's a 2 second fix no?

[2017-03-21 13:37] tonysecurityforcemonitor commented on #73
@evz is there a possible API issue?

[2017-03-21 13:43] tonysecurityforcemonitor commented on #78
@tlongers - I think let's explore with users - a lot rides on how they interact with the chart (and how the chart is organized, and which branch of the security forces they are looking at) so I think let's punt for now

[2017-03-21 13:54] tonysecurityforcemonitor commented on #74
@sam-ffctn - can you order in reverse chronological? We ordered the commanders in the Organization's dossier chronologically so hopefully it should be a quick fix to do the reverse here.

[2017-03-21 14:06] evz commented on #68
There's no organization with that ID. What was the name of the organization you were trying to look at?

[2017-03-21 14:22] tonysecurityforcemonitor commented on #70
Perhaps the most simple thing would be to display their ```Role``` and ```date_first_cited``` and ```date_last_cited``` that they had when they had ```membership``` with the ```Organization``` - is that possible to implement in the API @evz and the UI @sam-ffctn?

[2017-03-21 15:37] evz commented on #68
I'm actually unable to get that link to load either. When I inspect the resources that the page is loading it's trying to get an organization from this endpoint:

https://sfm.datamade.us/api/organizations/953284a9-0961-475f-8a8b-66c01f9d53f8/

Which is empty. I'm not sure what organization it's trying to load. I can get both `3 Zona Militar` and `13 Zona Militar` to load by searching for them but

[2017-03-21 16:02] tlongers commented on #68
Ah, I don't have the full history - it just hung at some point. I related #77 to this which might help figure it out.

[2017-03-21 16:02] #78 closed

[2017-03-21 16:04] tlongers commented on #70
We already list the previous commanders. What does this section add to that?

[2017-03-21 16:15] tonysecurityforcemonitor commented on #70
@tlongers It should include anyone that had affiliation with an Organization - including ```People``` with no ```Role``` or a ```Role``` other than commander. Only examples of this are in the Nigeria data:  http://ffctn.com/clients/on/sfm/M27/#country/ng/p/ed069aa4-10a6-4ef0-b354-bce1488cf3ff!date=2014-01-01&focus=map&overlay=person-dossier  - or - http://ffctn.com/clients/on/sfm/M27/#country/ng/p

[2017-03-21 16:17] tonysecurityforcemonitor opened #79 "Can't click through to Organization from Person Dossier"
@sam-ffctn - For some reason when I click on an ```organization``` on a person's dossier nothing happens - I'd expect that the organization's dossier would pop up - example: http://ffctn.com/clients/on/sfm/M27/#country/ng/o/7ba3c87c-a265-4e80-9c78-81d5b4db06fd/p/7ba3c87c-a265-4e80-9c78-81d5b4db06fd!date=2008-07-17&focus=chart - clicking on the Brigade doesn't do anything. We used to be able to cli

[2017-03-21 18:55] sam-ffctn commented on #79
@tonysecurityforcemonitor it should work now

http://ffctn.com/clients/on/sfm/M28/#country/ng/p/7ba3c87c-a265-4e80-9c78-81d5b4db06fd!date=2008-07-17&focus=chart

[2017-03-21 19:01] sam-ffctn commented on #68
@tonysecurityforcemonitor @tlongers @evz This issue should now be solved.The front end was using the membership id which seems to no longer correspond with organization id. I'm now using the organization id listed under `organization_id.value`

http://ffctn.com/clients/on/sfm/M28/

[2017-03-21 19:04] sam-ffctn commented on #77
@tlongers @tonysecurityforcemonitor If a person is related to more than one organization it isn't clear which one should be shown/focused, right now it will preserve the chart in the state that is was in before the person is selected (I think this is the desired behavior).

The second part of the issue should now be solved, clicking on the organization will load the proper chart with the node focu

[2017-03-21 19:06] tonysecurityforcemonitor commented on #79
Excellent - thanks @sam-ffctn!

[2017-03-21 19:06] #79 closed

[2017-03-21 19:32] sam-ffctn commented on #76
@tonysecurityforcemonitor @tlongers This should now be fixed

http://ffctn.com/clients/on/sfm/M28/#country/mx!date=1997-01-01

[2017-03-21 19:46] tonysecurityforcemonitor commented on #76
@sam-ffctn - just tested this and its working well - thanks!

[2017-03-21 19:46] #76 closed

[2017-03-21 20:11] sam-ffctn commented on #75
@tlongers @tonysecurityforcemonitor It's updated to include the current year, I also updated it so the default date is today's date.

http://ffctn.com/clients/on/sfm/M28/#country/ng!date=2017-03-21

[2017-03-21 20:16] evz commented on #70
@tonysecurityforcemonitor I'm not exactly sure how that list is generated in the UI but I know that the detailed endpoint for an organization (which is loaded on that page) includes all of the info for each "affiliated person" (Role, date_first_cited, date_last_cited)

[2017-03-21 20:21] evz commented on #73
@tonysecurityforcemonitor I'm not sure if this is an API issue. As you noted, the API returns the fact that they were a commander on that date but I'm not really sure what information is used to render the chart.

@sam-ffctn If something is missing or misbehaving, let me know.

[2017-03-21 20:29] sam-ffctn commented on #74
@tonysecurityforcemonitor @tlongers Done.

http://ffctn.com/clients/on/sfm/M28/#country/mx/p/6c828e5a-b7a6-4fd8-8013-6493e8cd1a3a!date=2011-07-20&focus=map

[2017-03-21 20:32] tonysecurityforcemonitor commented on #75
Great thanks @sam-ffctn !

[2017-03-21 20:32] #75 closed

[2017-03-21 20:35] tonysecurityforcemonitor commented on #74
Excellent thanks @sam-ffctn !

[2017-03-21 20:35] #74 closed

[2017-03-21 20:39] sam-ffctn commented on #73
@tonysecurityforcemonitor  @tlongers

This issue should now be solved, related to #79

related to issue #77

[2017-03-21 20:51] sam-ffctn commented on #69
@tonysecurityforcemonitor @tlongers The timeline now uses the current date as the default

http://ffctn.com/clients/on/sfm/M28/#country/mx

[2017-03-21 20:57] tonysecurityforcemonitor commented on #69
Thanks @sam-ffctn

[2017-03-21 20:57] #69 closed

[2017-03-21 21:03] sam-ffctn commented on #72
@tonysecurityforcemonitor @tlongers This should work now

http://ffctn.com/clients/on/sfm/M28/#country/mx/p/6c828e5a-b7a6-4fd8-8013-6493e8cd1a3a!date=2011-07-20&focus=map&overlay=search

[2017-03-21 21:38] sam-ffctn commented on #70
@tonysecurityforcemonitor @tlongers updated to include the fields mentioned above:

http://ffctn.com/clients/on/sfm/M28/#country/ng/o/280ad1e8-23e4-400a-867f-748731f3ff05/p/ed069aa4-10a6-4ef0-b354-bce1488cf3ff!date=2015-03-23&focus=chart

[2017-03-22 01:22] tonysecurityforcemonitor commented on #70
@sam-ffctn - this looks great - thanks!

[2017-03-22 01:22] #70 closed

[2017-03-22 01:25] tonysecurityforcemonitor commented on #68
@tlongers - can you do a quick test here? You're navigating through with different eyes which has been really helpful to spot issues like this.

[2017-03-22 01:28] tonysecurityforcemonitor commented on #72
@tlongers - is this working how you'd expect?

[2017-03-22 07:28] tlongers commented on #72
:) nice.

[2017-03-22 07:28] #72 closed

[2017-03-22 07:50] tlongers commented on #77
@sam-ffctn  Agreed that the desired behaviour is to leave the chart in the state that the user has set it, even if that leads to a dead-end.  For future work we should look at changing the pattern that leads the user to such dead ends though. Fixing the second part of this issue helps the user out . So, accepting this fix.

[2017-03-22 07:50] #77 closed

[2017-03-22 07:53] tlongers commented on #73
Yep, fixed. Thanks @sam-ffctn

[2017-03-22 07:53] #73 closed

[2017-03-22 07:58] tlongers commented on #68
Fixed, thanks @sam-ffctn @evz

[2017-03-22 07:58] #68 closed

[2017-03-22 08:10] tlongers opened #80 "If organisational tree returns no information, tell the user what to do next"
The below conditions return a blank canvas for the organization hierarchy chart, per #68, #73, #77 and #79:

* The user navigates directly to a chart view with a person displaying in the mini-dossier;
* the chart does not inherit a state from previous user actions; and
* there is no data for a person or organization at a particular time.

To help the user out and leverage @sam-ffctn's fixes, place

[2017-03-22 13:31] tonysecurityforcemonitor commented on #80
@sam-ffctn - can you implement this change?

[2017-03-23 20:59] sam-ffctn commented on #80
@tonysecurityforcemonitor @tlongers This should behave as described above

http://ffctn.com/clients/on/sfm/M28/#country/ng/p/0311d654-3c3a-4e23-83ae-10a28f1ce218!date=2017-03-23&focus=chart

On another note, the final issues should be done by tomorrow.

[2017-03-23 21:01] tonysecurityforcemonitor commented on #80
@sam-ffctn - thanks for the fix here - this looks good. That's great to hear about the other issues!

[2017-03-23 21:01] #80 closed

[2017-03-23 21:39] sam-ffctn commented on #71
@tlongers @tonysecurityforcemonitor This should be fixed now, clicking on the source will now do nothing (this was an event bubbling bug).

http://ffctn.com/clients/on/sfm/M28/#country/mx/o/e8555ef5-deca-4564-b43b-f415ff15081b!date=2011-07-20&focus=map

I'm working on a way to jump to the source definition (it's a bit trickier than you would expect with the current implementation).

[2017-03-24 14:46] sam-ffctn commented on #67
@tonysecurityforcemonitor @tlongers It's a bit tricky to get it to jump to the exact source. I set it up so that now it will jump to the top of the sources section

http://ffctn.com/clients/on/sfm/M28/#country/ng/o/bd3dc21d-6a89-4d78-9191-e7d2fddb780e!date=2017-03-24&focus=map

[2017-03-24 16:33] tonysecurityforcemonitor commented on #67
Thanks @sam-ffctn that should work for now

[2017-03-24 16:33] #67 closed

[2017-03-24 21:18] sam-ffctn commented on #71
@tlongers @tonysecurityforcemonitor this is fixed now that #67 is fixed.

[2017-03-24 22:47] tonysecurityforcemonitor commented on #71
Wonderful - thank you @sam-ffctn for all of your work on the Monitor! It's quite an impressive product!

[2017-03-24 22:47] #71 closed

[2017-04-05 16:52] evz opened #82 "100% CPU use forever on Firefox"
In the process of setting up the client parts, I noticed that my browser (Firefox) is consistently using 100% CPU for all pages on the site no matter what I'm looking at. This makes things pretty unusable at times and makes the site seem very laggy. I dug into it a bit and found that there is a CSS animation that is continuing to be animated forever whether or not it is displayed (it's the little

[2017-04-05 16:56] tonysecurityforcemonitor commented on #82
Thanks for highlighting @evz --- there are some issues with the UI in IE as well unfortunately. We'll just have to accept this prototype is Chrome-only right now I think...

[2017-04-06 15:17] evz commented on #82
I'm going to punt this for now. It's proving a bit more challenging than I thought it was going to be to unravel. We'll just keep this open for when we're reworking things down the road.

[2017-04-06 15:43] tonysecurityforcemonitor commented on #82
Ok sounds good @evz - thanks for the update. We can put some language on the site about how the prototype is currently Chrome only

[2017-04-08 08:02] tlongers commented on #82
Hmm is it something to do with `.Sidebar:before, .Dossier:before`.

I can see it spinning infinitely in Chrome as well, through Developer Tools, which has a surreal effect:

![https___front_securityforcemonitor_org__country_mx_date_2017-04-08_focus_map_and_security_force_monitor_ _we_create_open_data_about_security_force_units_and_commanders](https://cloud.githubusercontent.com/assets/2115933/2482

[2017-04-10 14:28] evz commented on #82
Yeah, that's precisely it.

[2017-04-10 18:10] sam-ffctn commented on #82
@evz @tlongers Thanks for diagnosing that for me, it was indeed the culprit.

fixed version: https://ffctn.com/clients/on/sfm/M29/

[2017-04-10 18:22] sam-ffctn commented on #82
@tonysecurityforcemonitor How should I push the updates to the repo? pull request? I can also provide a tarball

[2017-04-10 18:26] tonysecurityforcemonitor commented on #82
@sam-ffctn Thanks for your quick work on this! @evz what's the best way for you to get the updates?

[2017-04-10 18:27] evz commented on #82
@sam-ffctn That sounds fine. Thanks!

[2017-04-10 18:42] sam-ffctn commented on #82
@evz here is the tarball https://ffctn.com/clients/on/sfm/sfm-2017-04-10.tar.gz

[2017-04-11 14:57] #82 closed